{% extends 'partials/_base.html' %}

{% block title %} {{ unidade.nome }} {% endblock %}

{% load static %}

{% block css_layout %}
    <link rel="stylesheet"  href="{% static 'assets/css/layout/administracao/unidades-administrativas/unidades.css' %}">
    <link rel="stylesheet"  href="{% static 'assets/css/layout/administracao/unidades-administrativas/departamento.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}

    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a  class="  texto-azul" href="{% url 'core:index' %}">Home</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:index' %}">Administração</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:unidades-administrativas' %}">Unidades</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:diretoria' %}?id={{ diretoria.id }}">{{ diretoria.nome }}</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">{{ unidade.nome }}</span>
            </nav>

            {% include 'partials/unidade-administrativa/_unidade-dados.html' %}

            <h2 class="titulo-pagina texto-azul">Divisões</h2>

            {% if permissao.editar == 1 %}
                <div class="container-botoes-divisoes">
                    <a href="{% url 'administracao:divisao-formulario' %}?id={{ unidade.id }}">
                        <button class="botao botao--azul">Adicionar</button>
                    </a>
                </div>
            {% endif %}

            {% if possui_divisoes %}
                <div class="lista-divisoes lista-menus">

                    {% for divisao in divisoes %}
                        <div class="menu-pai divisao" data-accordeon-pai="{{ divisao.id }}-{{ divisao.sigla }}" data-accordeon-ativo="false">
                            <a href="{% url 'administracao:divisao' %}?id={{ divisao.id }}">
                                <h3 class="texto-medio texto-azul">{{ divisao.nome }}</h3>
                            </a>

                            <spam class="icone icone-medio icone-azul">expand_more</spam>
                        </div>

                        {% for nucleo in nucleos %}
                            {% if nucleo.hierarquia == divisao.id %}
                                <div class="menu-pai menu-filho nucleo" data-accordeon-pai="{{ nucleo.id }}-{{ nucleo.sigla }}" data-accordeon-filho="{{ divisao.id }}-{{ divisao.sigla }}" data-accordeon-ativo="false">
                                    <a href="{% url 'administracao:nucleo' %}?id={{ nucleo.id }}">
                                        <h3 class="texto-medio texto-azul">{{ nucleo.nome }}</h3>
                                    </a>

                                    <spam class="icone icone-medio icone-azul">expand_more</spam>
                                </div>

                                {% for centro in centros %}
                                    {% if centro.hierarquia == nucleo.id %}
                                        <div class="menu-pai menu-filho centro" data-accordeon-pai="{{ centro.id }}-{{ centro.sigla }}" data-accordeon-filho="{{ nucleo.id }}-{{ nucleo.sigla }}" data-accordeon-ativo="false">
                                            <a href="{% url 'administracao:centro' %}?id={{ centro.id }}">
                                                <h3 class="texto-medio texto-azul">{{ centro.nome }}</h3>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                    {% endfor %}
                </div>

            {% else %}
                <p class=" texto-preto mensagem-sem-divisoes">Esta unidade não possui divisões cadastrados.</p>
            {% endif %}

        </div>

    </main>

    {% include 'partials/_rodape.html' %}

    <script src="{% static 'assets/js/module/controlaMenuAccordeon.js' %}"></script>

{% endblock %}