{% extends 'partials/_base.html' %}

{% block title %}Editar Endereço{% endblock %}

{% load static %}

{% block select %}
    {% include 'partials/_select2.html' %}
{% endblock %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}

    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a  class="  texto-azul" href="{% url 'core:index' %}">Home</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'coex:index' %}">COEX</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'coex:comite' %}">Comitê</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'coex:comite-perfil' %}?id={{ endereco.id }}">{{ endereco.escola.nome_escola }}</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">Editar endereço</span>
            </nav>

            <h1 class="titulo-pagina texto-azul">Editar endereço</h1>
            <p class="descricao  texto-preto">Insira os dados da Unidade</p>

            <form class="container-surface container-formulario-unidade" method="POST">
                {% csrf_token %}
                <nav class="container-navegacao-surface">
                    <ul class="navegacao-surface-lista">
                        <li class="navegacao-surface-item navegacao-surface-item-ativo" data-form-aba="endereco">
                            <span class="texto-azul ">Endereço</span>
                        </li>

                        <li class="navegacao-surface-item oculto" data-form-aba="indigena">
                            <span class="texto-azul ">Indígena</span>
                        </li>
                    </ul>
                </nav>

                <div class="formulario-unidade-endereco" data-form-container="endereco">
                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-tipo-localizacao">Tipo Localização</label>
                        <select name="tipo_localizacao" id="campo-tipo-localizacao" class="campo-texto campo-medio" data-selecao-tipo-localizacao>
                            {% if endereco.tipo_localizacao == 'Indígena' %}
                                <option value="Urbano" >Urbano</option>
                                <option value="Rural">Rural</option>
                                <option value="Indígena"selected>Indígena</option>
                            {% elif endereco.tipo_localizacao == 'Rural' %}
                                <option value="Urbano" >Urbano</option>
                                <option value="Rural"selected>Rural</option>
                                <option value="Indígena">Indígena</option>
                            {% else %}
                                <option value="Urbano" selected>Urbano</option>
                                <option value="Rural">Rural</option>
                                <option value="Indígena">Indígena</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-municipio">Município</label>
                        <select id="campo-municipio" name="municipio" class="campo-texto campo-medio" onchange="exibeRegional()">
                            {% for municipio in municipios %}
                                {% if municipio == endereco.municipio %}
                                    <option value="{{ municipio }}" selected>{{municipio}}</option>
                                {% else %}
                                    <option value="{{ municipio }}">{{municipio}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-regiao">Regional</label>
                        <input id="campo-regional" class="campo-texto campo-pequeno" type="text" value="{{ endereco.regiao }}" name="regiao" id="campo-regiao" readonly>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-rua">CEP</label>
                        <input class="campo-texto campo-pequeno" type="text" value="{{ endereco.cep }}" name="cep" id="campo-cep" maxlength="10" placeholder="Ex: 69908-440" required autocomplete="off" data-mascara="cep">
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-rua">Rua</label>
                        <input class="campo-texto campo-grande" type="text" value="{{ endereco.rua }}" name="rua" id="campo-rua" placeholder="Ex: José Vasconcelos" required autocomplete="off">
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-numero">Numero</label>
                        <input class="campo-texto campo-pequeno" type="text" value="{{ endereco.numero }}" name="numero" id="campo-numero" placeholder="Ex: 1710" required autocomplete="off" data-mascara = 'numero'>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-bairro">Bairro</label>
                        <input class="campo-texto campo-medio" type="text" value="{{ endereco.bairro }}" name="bairro" id="campo-bairro" placeholder="Ex: Centro" required autocomplete="off">
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-complemento">Complemento</label>
                        <input class="campo-texto campo-grande" type="text" value="{{ endereco.complemento }}" name="complemento" id="campo-complemento" placeholder='Ex: Ao lado do posto de saúde Dona Maria'>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-latitude">Latitude</label>
                        <input class="campo-texto campo-pequeno" type="text" value="{{ endereco.latitude }}" name="latitude" id="campo-latitude" autocomplete="off" maxlength="30">
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-longitude">Longitude</label>
                        <input class="campo-texto campo-pequeno" type="text" value="{{ endereco.longitude }}" name="longitude" id="campo-longitude" autocomplete="off" maxlength="30">
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-localizacao-diferenciada">Localização Diferenciada</label>
                        <select id="campo-localizacao-diferenciada" name="localizacao_diferenciada" class="campo-texto campo-medio">
                            {% for localizacao in localizacao_diferenciada %}
                                {% if localizacao == endereco.localizacao_diferenciada %}
                                    <option value="{{ localizacao }}" selected>{{ localizacao }}</option>
                                {% else %}
                                    <option value="{{ localizacao }}" >{{ localizacao }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="container-botoes">
                        <button data-modal-abrir="confirmar" data-botao-salvar class="botao botao--azul">Salvar</button>
                        <button data-form-botao="indigena" data-botao-avancar class="botao botao--azul oculto">Avançar</button>
                    </div>
                </div>

                <div class="formulario-unidade-indigena oculto" data-form-container="indigena">

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo">Etnia</label>

                        <div data-selecao-indigena="etnia">
                          <select data-selecao2 name="etnia_select">
                                {% for etnia in etnias %}
                                    {% if detalhes_indigenas.etnia == etnia %}
                                        <option selected>{{ etnia }}</option>
                                    {% else %}
                                        <option>{{ etnia }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <input type="text" class="campo-texto campo-grande oculto" data-campo-indigena="etnia" name="etnia_input" placeholder="Insira uma nova etnia">

                        <fieldset id="fieldset-etnia">
                            <input type="radio" name="fieldset-etnia" value='existente' id="etnia-cadastrada" checked data-radio-indigena-existente="etnia">
                            <label class="texto-preto" for="etnia-cadastrada">Já cadastrada</label>

                            <input type="radio" name="fieldset-etnia" id="etnia-nova" value='nova' data-radio-indigena-nova="etnia">
                            <label class="texto-preto" for="etnia-nova">Nova etnia</label>
                        </fieldset>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo">Localização</label>

                        <div data-selecao-indigena="localizacao">
                           <select data-selecao2 name="localizacao_select">
                                {% for localizacao in localizacoes %}
                                    {% if detalhes_indigenas.localizacao == localizacao %}
                                        <option selected>{{ localizacao }}</option>
                                    {% else %}
                                        <option>{{ localizacao }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <input type="text" class="campo-texto campo-grande oculto" data-campo-indigena="localizacao" name="localizacao_input" placeholder="Insira uma nova localização">

                        <fieldset id="fieldset-localizacao">
                            <input type="radio" name="fieldset-localizacao" value='existente' id="localizacao-cadastrada" checked data-radio-indigena-existente="localizacao">
                            <label class="texto-preto" for="localizacao-cadastrada">Já cadastrada</label>

                            <input type="radio" name="fieldset-localizacao" id="localizacao-nova" value='nova' data-radio-indigena-nova="localizacao">
                            <label class="texto-preto" for="localizacao-nova">Nova localização</label>
                        </fieldset>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo">Aldeia</label>

                        <div data-selecao-indigena="aldeia">
                            <select data-selecao2 name="aldeia_select">
                                {% for aldeia in aldeias %}
                                    {% if detalhes_indigenas.aldeia == aldeia %}
                                        <option selected>{{ aldeia }}</option>
                                    {% else %}
                                        <option>{{ aldeia }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <input type="text" class="campo-texto campo-grande oculto" data-campo-indigena="aldeia" name="aldeia_input" placeholder="Insira uma nova aldeia">

                        <fieldset id="fieldset-aldeia">
                            <input type="radio" name="fieldset-aldeia" value='existente' id="aldeia-cadastrada" checked data-radio-indigena-existente="aldeia">
                            <label class="texto-preto" for="aldeia-cadastrada">Já cadastrada</label>

                            <input type="radio" name="fieldset-aldeia" id="aldeia-nova" value='nova' data-radio-indigena-nova="aldeia">
                            <label class="texto-preto" for="aldeia-nova">Nova aldeia</label>
                        </fieldset>
                    </div>


                    <div class="container-botoes">
                        <button data-form-botao="endereco" class="botao botao--azul">Voltar</button>
                        <button data-modal-abrir="confirmar" class="botao botao--azul">Salvar</button>
                    </div>
                </div>

                <div class="modal oculto" data-modal="confirmar">
                    <div class="modal-conteudo modal-confirmacao">
                        <h3 class="texto-medio texto-azul texto-negrito">Confirmar operação</h3>
                        <p class="texto-preto descricao">Tem certeza que deseja editar o endereço da unidade {{ endereco.escola.nome_escola }}?</p>

                        <div class="container-botoes">
                            <button class="botao--verde botao" type="submit">Salvar</button>
                            <button class="botao botao--vermelho" data-modal-fechar>Cancelar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </main>

    {% include 'partials/_rodape.html' %}

    <script src="{% static 'assets/js/module/abrirModal.js' %}"></script>
    <script src="/static/assets/js/module/controlaNavegacaoFormulario.js"></script>
    <script src="{% static 'assets/js/layout/coex/editar-endereco/controla-campos.js' %}"></script>
    <script src="{% static 'assets/js/layout/coex/editar-endereco/controlaCamposIndigenas.js' %}"></script>
    <script src="{% static 'assets/js/module/select2.js' %}"></script>
    <script src="{% static 'assets/js/module/mascaras.js' %}" type='module'></script>
{% endblock %}