{% extends 'partials/_base.html' %}

{% block title %}
    Constulta de Servidores
{% endblock %}

{% load static %}

{% block select %}
    {% include 'partials/_select2.html' %}
{% endblock %}

{% block css_layout %}
    <link rel="stylesheet"  href="{% static 'assets/css/layout/lotacao/servidor/servidor-consulta.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}
    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a  class="  texto-azul" href="{% url 'core:index' %}">Home</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:index' %}">Administração</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:unidades_educacionais' %}">Unidades Educacionais</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">Consultar Unidades Educacionais</span>

            </nav>

            <h1 class="titulo-pagina texto-azul">Consultar Unidades Educacionais</h1>

            <p class="descricao  texto-preto">Verifique se a unidade educacional já existe na base de dados</p>

            <div class="container-surface container-terceirizado-consulta" method="POST">

                <nav class="container-navegacao-surface">
                    <ul class="navegacao-surface-lista">
                        <li class="navegacao-surface-item navegacao-surface-item-ativo" data-form-aba="consulta">
                            <span class="texto-azul ">Consulta</span>
                        </li>
                    </ul>
                </nav>

                <form method="POST">
                    {% csrf_token %}
                    <div data-form-container="consulta" >
                        <div class="formulario-grupo">
                            <label class="texto-azul label-campo" for="campo-matricula">INEP</label>

                            {% if inep %}
                                <input class="campo-texto campo-pequeno" type="text" value="{{ inep_unidade }}" name="inep" id="campo-matricula" placeholder="Ex: 12000094" required autocomplete="off" maxlength="8" data-mascara="numero">
                            {% else %}
                                <input class="campo-texto campo-pequeno" type="text" value="" name="inep" id="campo-matricula" placeholder="Ex: 12000094" required autocomplete="off" maxlength="8" data-mascara="numero">
                            {% endif %}
                        </div>

                        <!-- <p class="oculto texto-vermelho  consulta-mensagem-erro" data-mensagem-erro>CPF inválido, verifique o valor digitado!</p> -->

                        <div class="container-botoes">
                            <button type="submit" class="botao botao--azul" data-botao-consulta>Consultar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>


    {% include 'partials/_rodape.html' %}

    {% if inep %}
        <div class="modal" data-modal="confimar">
            <div class="modal-conteudo modal-confirmacao">
                <h3 class="texto-medio texto-azul texto-negrito">Unidade já cadastrado</h3>
                    <p class="texto-preto descricao">Acessar o perfil da Unidade?</p>

                    <div class="container-botoes">
                        <a href="{% url 'administracao:unidade-perfil' %}?inep={{ inep }}">
                            <button class="botao botao--azul">Abrir perfil</button>
                        </a>
                        <button class="botao botao--vermelho" data-modal-fechar>Cancelar</button>
                    </div>
            </div>
        </div>
    {% endif %}

    <script src="{% static 'assets/js/module/abrirModal.js' %}"></script>
    <script src="{% static 'assets/js/module/select2.js' %}"></script>
    <script src="{% static 'assets/js/module/controlaNavegacaoFormulario.js' %}"></script>
    <script src="{% static 'assets/js/module/mascaras.js' %}" type='module'></script>

{% endblock %}