{% extends 'partials/_base.html' %}

{% block title %}
Anexo de Imagem
{% endblock %}

{% load static %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}
    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a  class="  texto-azul" href="{% url 'core:index' %}">Home</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'fundiaria:index' %}">Fundiária</a>
                <span class="texto-azul">&#62;</span>

                {% if endereco %}
                    <a  class=" texto-azul" href="{% url 'fundiaria:unidades-educacionais' %}">Unidades Educacionais</a>
                    <span class="texto-azul">&#62;</span>

                    <a class="  texto-azul" href="{% url 'fundiaria:fundiaria-perfil' %}?inep={{ cod_inep }}">{{ endereco }}</a>
                    <span class="texto-azul">&#62;</span>
                {% else %}
                    <a  class=" texto-azul" href="{% url 'fundiaria:unidades-adm' %}">Unidades Administrativas</a>
                    <span class="texto-azul">&#62;</span>

                    <a class="  texto-azul" href="{% url 'fundiaria:fundiaria-perfil' %}?adm={{ unidade.id }}">{{ unidade }}</a>
                    <span class="texto-azul">&#62;</span>
                {% endif %}

                <span class="  texto-azul">Anexo de Imagem</span>
            </nav>

            <h1 class="titulo-pagina texto-azul">Anexo de Imagem</h1>
            <p class="descricao  texto-preto">Insira as imagens da unidade</p>

            <form class="container-surface" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <h2 class="texto-medio texto-azul">Anexar imagem</h2>

                <div data-container-inputs>
                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="arquivo">Insira o arquivo</label>
                        <input class="campo-arquivo" id="arquivo" type="file" accept=".png, .jpeg, .jpg" name="arquivo" required>
                    </div>
                </div>

                <div class= 'container-botoes'>
                    <button class="botao botao--azul" data-botao-adicionar="celular">Adicionar</button>
                </div>

                {% comment %} <div class="formulario-grupo">
                    <label class="texto-azul label-campo">Categorias</label>

                    <select data-selecao2 name="categorias" class="campo-texto campo-medio">
                        {% for categoria in categorias %}
                            <option data-opcao-empresa value="{{ categoria }}">{{ categoria }}</option>
                        {% endfor %}
                    </select>
                </div> {% endcomment %}

                <div class="formulario-grupo">
                    <label for="campo-texto-descricao" class="texto-azul label-campo">Descrição da Imagem</label>
                    <textarea name="descricao" id="campo-texto-descricao" class="campo-texto campo-area" maxlength="100" required></textarea>
                </div>

                <div class="output"></div>

                <div class="container-botoes">
                    <button class="botao botao--azul" data-modal-abrir="confirmar">Cadastrar</button>
                </div>

                <div class="modal oculto" data-modal="confirmar">
                    <div class="modal-conteudo modal-confirmacao">
                        <h3 class="texto-medio texto-azul texto-negrito">Confirmar operação</h3>
                        <p class="texto-preto descricao">Tem certeza que deseja anexar a imagem?</p>

                        <div class="container-botoes">
                            <button class="botao--verde botao" type="submit">Salvar</button>
                            <button class="botao botao--vermelho" data-modal-fechar>Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    {% include 'partials/_rodape.html' %}

    <script src="{% static 'assets/js/module/abrirModal.js' %}"></script>
    <script src="{% static 'assets/js/layout/fundiaria/formulario-inputs/controlaCampos.js' %}" type="module"></script>

{% endblock %}