{% extends 'partials/_base.html' %}

{% block title %} Cadastro de Infraestrutura {% endblock %}

{% load static %}

{% block select %}
    {% include 'partials/_select2.html' %}
{% endblock %}

{% block css_layout %}
    <link rel="stylesheet"  href="{% static 'assets/css/layout/fundiaria/infraestrutura-formulario.css' %}">
{% endblock %}

{% block content %}
{% include 'partials/_cabecalho.html' %}
    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a href="{% url 'core:index' %}" class=" texto-azul">Home</a>
                <span class="texto-azul">&#62;</span>

                <a href="{% url 'fundiaria:index' %}" class=" texto-azul">Fundiária</a>
                <span class="texto-azul">&#62;</span>

                {% if edicao  %}
                    {% if escola %}
                        <a  class=" texto-azul" href="{% url 'fundiaria:unidades-educacionais' %}">Unidades Educacionais</a>
                        <span class="texto-azul">&#62;</span>

                        <a href="{% url 'fundiaria:fundiaria-perfil' %}?inep={{ escola.cod_inep }}" class=" texto-azul">{{ escola.nome_escola }}</a>
                        <span class="texto-azul">&#62;</span>
                    {% else %}
                        <a  class=" texto-azul" href="{% url 'fundiaria:unidades-adm' %}">Unidades Administrativas</a>
                        <span class="texto-azul">&#62;</span>

                        <a href="{% url 'fundiaria:fundiaria-perfil' %}?adm={{ unidade.id }}" class=" texto-azul">{{ unidade }}</a>
                        <span class="texto-azul">&#62;</span>
                    {% endif %}
                {% endif %}

                <span class="texto-azul">Cadastrar Infraestrutura</span>
            </nav>

            {% if edicao %}
                <h1 class="titulo-pagina texto-azul">Editar Infraestrutura</h1>
            {% else %}
                <h1 class="titulo-pagina texto-azul">Cadastro de Infraestrutura</h1>
            {% endif %}

            <p class="descricao texto-preto">Insira os detalhes da infraestrutura</p>

            <form class="container-surface container-formulario-infraestrutura" enctype="multipart/form-data" method="POST">
                {% csrf_token %}

                <h2 class="texto-medio texto-azul">Infraestrutura Geral</h2>
                {% if not edicao %}
                    <div class="formulario-grupo">
                        <label class="label-campo texto-azul" for="fieldset-tipo-unidade">Tipo de Unidade</label>
                        <fieldset id="fieldset-tipo-unidade">
                            <input type="radio" name="tipo" value="Unidade Educacional" id="radio-escolar" checked data-radio-escola>
                            <label class="texto-preto" for="radio-escolar">Unidade Educacional</label>

                            <input type="radio" name="tipo" value="Departamento SEE" id="radio-adm"  data-radio-adm>
                            <label class="texto-preto" for="radio-adm">Departamento SEE</label>
                        </fieldset>
                    </div>
                {% endif %}

                {% if edicao %}
                    {% if escola %}
                        <div class="formulario-grupo oculto">
                            <label class="texto-azul label-campo" for="campo-escola">Unidade Educacional</label>
                            <input class="campo-texto campo-grande" type="text" name="unidade" value="{{ escola.id }}" id="campo-escola" readonly>
                        </div>

                        <div class="formulario-grupo">
                            <label class="texto-azul label-campo" for="campo-escola">Unidade Educacional</label>
                            <input class="campo-texto campo-grande" type="text" name="" value="{{ escola.nome_escola }}" id="campo-escola" readonly>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="formulario-grupo" data-selecao-escola>
                        <label id="label-campo-unidade" class="texto-azul label-campo" for="campo-unidade">Unidade Educacional</label>
                        <select name="unidade" class="campo-texto campo-grande" id="campo-unidade" data-selecao2>
                            {% for escola in escolas %}
                                <option value="{{ escola.id }}">{{escola.cod_inep}} - {{ escola.nome_escola }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                {% if edicao %}
                    {% if departamento %}
                    <div class="formulario-grupo oculto">
                        <label class="texto-azul label-campo" for="campo-escola">Departamento</label>
                        <input class="campo-texto campo-grande" type="text" name="departamento" value="{{ departamento.id }}" id="campo-escola" readonly>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-escola">Departamento</label>
                        <input class="campo-texto campo-grande" type="text" name="" value="{{ departamento.nome }}" id="campo-escola" readonly>
                    </div>
                    {% endif %}

                {% else %}
                    <div class="formulario-grupo " data-selecao-administrativa>
                        <label id="label-campo-departamento" class="texto-azul label-campo " for="campo-departamento">Departamento</label>
                        <select name="departamento" class="campo-texto campo-grande " id="campo-departamento" data-selecao2>
                            {% for departamento in departamentos %}
                                    <option value="{{ departamento.id }}">{{ departamento.sigla }} - {{ departamento.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}



                <div class="formulario-grupo">
                    <label for="campo-regularizacao" class="texto-azul label-campo">Regularização</label>
                    <select class="campo-texto campo-medio" name="regularizacao" id="campo-regularizacao">
                        {% for opcoes in regularizacao %}
                            {% if opcoes == fundiaria.regularizacao %}
                                <option value="{{ opcoes }}" selected>{{ opcoes }}</option>
                            {% else %}
                                <option value="{{ opcoes }}">{{ opcoes }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="formulario-grupo">
                    <label for="campo-servico" class="texto-azul label-campo">Forma de ocupação</label>
                    <select class="campo-texto campo-medio" name="forma_ocupacao" id="campo-servico" data-selecao-ocupacao>
                        {% for forma in formas_ocupacoes %}
                            {% if forma == fundiaria.forma_ocupacao %}
                                <option value="{{ forma }}" selected>{{ forma }}</option>
                            {% else %}
                                <option value="{{ forma }}">{{ forma }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="formulario-grupo" data-selecao-convenio>
                    <label for="campo-convenio" class="texto-azul label-campo" >Convênio</label>
                    <select class="campo-texto campo-medio" name="convenio" id="campo-convenio">
                        {% for opcao in convenio %}
                            {% if opcao == fundiaria.convenio %}
                                <option value="{{ opcao }}"selected>{{ opcao }}</option>
                            {% else %}
                                <option value="{{ opcao }}">{{ opcao }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-matricula">Matrícula de registro de imóveis</label>
                    <input class="campo-texto campo-pequeno" type="text" name="matricula" value="{{ fundiaria.matricula_imoveis }}" id="campo-matricula"   maxlength="100">
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-metragem">Área do imóvel</label>
                    <input class="campo-texto campo-pequeno" type="text" name="metragem" value="{{ fundiaria.area_imovel }}" id="campo-metragem" placeholder="Ex: 150" >
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-area-utilizada">Área utilizada</label>
                    <input class="campo-texto campo-pequeno" type="text" name="area_utilizada" value="{{ fundiaria.area_utilizada }}" id="campo-area-utilizada" placeholder="Ex: 150" >
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-area">Área construída</label>
                    <input class="campo-texto campo-pequeno" type="text" name="area" value="{{ fundiaria.area_construida }}" id="campo-area" placeholder="Ex: 150" >
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-perimetro">Perímetro</label>
                    <input class="campo-texto campo-pequeno" type="text" name="perimetro" value="{{ fundiaria.perimetro }}" id="campo-perimetro" placeholder="Ex: 150" >
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-bci">B.C.I. - Prefeitura</label>
                    <input class="campo-texto campo-pequeno" type="text" name="bci" value="{{ fundiaria.bci }}" id="campo-bci"  maxlength="15">
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-decreto-criacao">Decreto de criação</label>
                    <input class="campo-texto campo-pequeno" type="text" name="decreto-criacao" value="{{ fundiaria.decreto_criacao }}" id="campo-decreto-criacao"  maxlength="15">
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-portaria-autorizacao">Portaria de autorização</label>
                    <input class="campo-texto campo-pequeno" type="text" name="portaria-autorizacao" value="{{ fundiaria.portaria_autorizacao }}" id="campo-portaria-autorizacao"  maxlength="15">
                </div>

                {% if imagem_frente %}
                    <div>
                        <div class="linha">
                            <div class="card" data-container-imagem>
                                <h2 class="texto-azul texto"><b>Frente</b></h2>
                                <input class="campo-texto campo-pequeno oculto" type="text" id="campo-portaria-autorizacao"  maxlength="15" >
                                <img class="image" src="{% static img_frente.path_arquivo %}" width='300px' height= '200px'>
                                {% comment %} <button class="botao botao--vermelho" data-excluir-imagem="Frente">Excluir</button> {% endcomment %}
                            </div>

                            {% if imagem_aerea %}
                                <div class="card img_frente" data-container-imagem>
                                    <h2 class="texto-azul texto"><b>Aérea</b></h2>
                                    <input class="campo-texto campo-pequeno oculto" type="text" id="campo-portaria-autorizacao"  maxlength="15">
                                    <img class="image" src="{% static img_aerea.path_arquivo %}" width='300px' height= '200px'>
                                </div>
                                {% endif %}
                        </div>
                        <button class="botao botao--vermelho" data-excluir-imagem="Aérea">Alterar imagens</button>
                    </div>

                    <div data-div-frente>

                    </div>

                    <div data-div-aerea>

                    </div>

                {% else %}
                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="arquivo">Insira imagem (Frente)</label>
                        <input class="campo-arquivo" id="arquivo" type="file" accept=".png, .jpeg, .jpg" name="arquivo1" required>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="arquivo">Insira imagem (Aérea)</label>
                        <input class="campo-arquivo" id="arquivo" type="file" accept=".png, .jpeg, .jpg" name="arquivo2" required>
                    </div>
                {% endif %}

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-conta-agua">Unidade consumidora (Água)</label>
                    <input class="campo-texto campo-pequeno" type="text" name="conta_agua" value="{{ fundiaria.conta_agua }}" id="campo-conta-agua"  maxlength="15">
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-energia-eletrica">Unidade consumidora (Energia Elétrica)</label>
                    {% for cod in energia_eletrica %}
                        <div>
                            <input class="campo-texto campo-pequeno" type="text" name="energia_eletrica-{{ cod.id }}" value="{{ cod.energia_eletrica }}" id="campo-energia-eletrica"  maxlength="15">
                            <button class="botao botao--vermelho" data-excluir-consumidora>Excluir</button>
                        </div>
                    {% endfor %}

                    <div>
                        <button class="botao botao--azul" data-adicionar-consumidora>adicionar</button>
                    </div>
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-ppi">Registro na PPI</label>
                    <input class="campo-texto campo-pequeno" type="text" name="ppi" value="{{ fundiaria.ppi }}" id="campo-ppi"  maxlength="100">
                </div>

                <div class="container-botoes">
                    {% if edicao %}
                        <button class="botao botao--azul" data-modal-abrir="confirmar" data-botao-cadastrar>Editar</button>
                    {% else %}
                        <button class="botao botao--azul" data-modal-abrir="confirmar" data-botao-cadastrar>Cadastrar</button>
                    {% endif %}
                </div>

                <div class="modal oculto" data-modal="confirmar">
                    <div class="modal-conteudo modal-confirmacao">
                        <h3 class="texto-medio texto-azul texto-negrito">Confirmar operação</h3>
                        <p class="texto-preto descricao">Tem certeza que deseja cadastrar a infraestrutura na unidade {{ escola.nome_escola }}?</p>

                        <div class="container-botoes">
                            <button class="botao--verde botao" type="submit">Salvar</button>
                            <button class="botao botao--vermelho" data-modal-fechar>Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    {% include 'partials/_rodape.html' %}

    <script src="{% static 'assets/js/module/abrirModal.js' %}"></script>
    <script src="{% static 'assets/js/module/mascaras.js' %}" type="module"></script>
    <script src="{% static 'assets/js/module/select2.js' %}"></script>

    <script src="{% static 'assets/js/layout/fundiaria/infraestrutura-formulario/controlaCampos.js' %}"></script>
    <script src="{% static 'assets/js/layout/fundiaria/infraestrutura-formulario/controlaCamposConvenio.js' %}"></script>
    <script src="{% static 'assets/js/layout/fundiaria/infraestrutura-formulario/controlaCamposImagens.js' %}"></script>

{% endblock %}