<div class="oculto" data-form-container="itinerario-formativo-parcial">

    {% if etapa == '2ª Série' %}
        <div class="formulario-grupo">
            <label for="campo-espanhol" class="texto-azul label-campo">Língua Espanhola</label>
            <input type="number" name="espanhol" id="campo-espanhol" class="campo-texto campo-pequeno" value="{{ relatorio.espanhol }}" data-mascara="nota">
        </div>
    {% endif %}

    {% if etapa == '1ª Série' %}
        <div class="formulario-grupo">
            <label for="campo-projeto" class="texto-azul label-campo">Eletiva</label>
            <input type="number" name="eletiva" id="campo-projeto" class="campo-texto campo-pequeno" value="{{ relatorio.eletiva }}" data-mascara="nota">
        </div>
    {% endif %}

    {% if etapa == '1ª Série' or etapa == '2ª Série' %}
        <div class="formulario-grupo">
            <label for="campo-projeto-vida" class="texto-azul label-campo">Projeto de Vida</label>
            <input type="number" name="projeto_vida" id="campo-projeto-vida" class="campo-texto campo-pequeno" value="{{ relatorio.projeto_vida }}" data-mascara="nota">
        </div>
    {% endif %}

    {% if etapa == '3ª Série' %}
        <div class="formulario-grupo">
            <label for="campo-pos-medio" class="texto-azul label-campo">Pós Médio</label>
            <input type="number" name="pos_medio" id="campo-pos-medio" class="campo-texto campo-pequeno" value="{{ relatorio.pos_medio }}" data-mascara="nota">
        </div>
    {% endif %}

    {% if etapa == '2ª Série' or etapa == '3ª Série' %}
        <div class="formulario-grupo">
            <h3 class="texto-medio texto-azul">Rotas de Aprofundamento</h3>
            {% if relatorio.formacao_tecnica == '-' or not edicao %}
                <fieldset id="aluno-fieldset-rota">
                    <input type="radio" name="aluno-fieldset-rota-parcial" value="propedeutica" id="radio-propedeutica-parcial" data-radio-aprofundamento checked>
                    <label class="texto-preto" for="radio-propedeutica-parcial">Aprofundamento Propedêutica</label>


                    <input type="radio" name="aluno-fieldset-rota-parcial" value="formacao" id="radio-formacao-parcial" data-radio-profissional>
                    <label class="texto-preto" for="radio-formacao-parcial">Formação Técnica e Profissional</label>
                </fieldset>
            {% else %}
                <fieldset id="aluno-fieldset-rota">
                    <input type="radio" name="aluno-fieldset-rota-parcial" value="propedeutica" id="radio-propedeutica-parcial" data-radio-aprofundamento>
                    <label class="texto-preto" for="radio-propedeutica-parcial">Aprofundamento Propedêutica</label>


                    <input type="radio" name="aluno-fieldset-rota-parcial" value="formacao" id="radio-formacao-parcial" data-radio-profissional checked>
                    <label class="texto-preto" for="radio-formacao-parcial">Formação Técnica e Profissional</label>
                </fieldset>
            {% endif %}
        </div>


        <div class="formulario-grupo" data-grupo-conhecimento>
            <label class="texto-azul label-campo" for="aluno-fieldset-areas">Área de conhecimento</label>

            {% if relatorio.linguagens_tecnologias != '-' and relatorio.formacao_tecnica == '-' %}
                <div>
                    <input type="radio" name="area_conhecimento" value="Linguagens e suas tecnologias" id="radio-linguagens" checked>
                    <label class="texto-preto" for="radio-linguagens">Linguagens e suas tecnologias</label>
                </div>
            {% else %}
                <div>
                    <input type="radio" name="area_conhecimento" value="Linguagens e suas tecnologias" id="radio-linguagens">
                    <label class="texto-preto" for="radio-linguagens">Linguagens e suas tecnologias</label>
                </div>
            {% endif %}

            {% if relatorio.matematica_tecnologias != '-' and relatorio.formacao_tecnica == '-' %}
                <div>
                    <input type="radio" name="area_conhecimento" value="Matemática e suas tecnologias" id="radio-matematica" checked>
                    <label class="texto-preto" for="radio-matematica">Matemática e suas tecnologias</label>
                </div>
            {% else %}
                <div>
                    <input type="radio" name="area_conhecimento" value="Matemática e suas tecnologias" id="radio-matematica">
                    <label class="texto-preto" for="radio-matematica">Matemática e suas tecnologias</label>
                </div>
            {% endif %}

            {% if relatorio.ciencias_natureza != '-' and relatorio.formacao_tecnica == '-' %}
                <div>
                    <input type="radio" name="area_conhecimento" value="Ciências da natureza e suas tecnologias" id="radio-natureza" checked>
                    <label class="texto-preto" for="radio-natureza">Ciências da natureza e suas tecnologias</label>
                </div>
            {% else %}
                <div>
                    <input type="radio" name="area_conhecimento" value="Ciências da natureza e suas tecnologias" id="radio-natureza">
                    <label class="texto-preto" for="radio-natureza">Ciências da natureza e suas tecnologias</label>
                </div>
            {% endif %}

            {% if relatorio.ciencias_humanas != '-' and relatorio.formacao_tecnica == '-' %}
                <div>
                    <input type="radio" name="area_conhecimento" value="Ciências humanas e suas tecnologias" id="radio-humanas" checked>
                    <label class="texto-preto" for="radio-humanas">Ciências humanas e suas tecnologias</label>
                </div>
            {% else %}
                <div>
                    <input type="radio" name="area_conhecimento" value="Ciências humanas e suas tecnologias" id="radio-humanas">
                    <label class="texto-preto" for="radio-humanas">Ciências humanas e suas tecnologias</label>
                </div>
            {% endif %}

            {% if edicao %}
                {% if relatorio.linguagens_tecnologias != '-' %}
                    <div class="formulario-grupo">
                        <label for="campo-media-rotas">Média</label>
                        <input id="campo-media-rotas" type="number" class="campo-texto campo-pequeno" name="media_rota" value="{{ relatorio.linguagens_tecnologias }}" data-mascara="nota">
                    </div>
                {% elif relatorio.matematica_tecnologias != '-' %}
                    <div class="formulario-grupo">
                        <label for="campo-media-rotas">Média</label>
                        <input id="campo-media-rotas" type="number" class="campo-texto campo-pequeno" name="media_rota" value="{{ relatorio.matematica_tecnologias }}" data-mascara="nota">
                    </div>
                {% elif relatorio.ciencias_natureza != '-' %}
                    <div class="formulario-grupo">
                        <label for="campo-media-rotas">Média</label>
                        <input id="campo-media-rotas" type="number" class="campo-texto campo-pequeno" name="media_rota" value="{{ relatorio.ciencias_natureza }}" data-mascara="nota">
                    </div>
                {% elif relatorio.ciencias_humanas != '-' %}
                    <div class="formulario-grupo">
                        <label for="campo-media-rotas">Média</label>
                        <input id="campo-media-rotas" type="number" class="campo-texto campo-pequeno" name="media_rota" value="{{ relatorio.ciencias_humanas }}" data-mascara="nota">
                    </div>
                {% else %}
                    <div class="formulario-grupo">
                        <label for="campo-media-rotas">Média</label>
                        <input id="campo-media-rotas" type="number" class="campo-texto campo-pequeno" name="media_rota" value="" data-mascara="nota">
                    </div>
                {% endif %}
            {% else %}
                <div class="formulario-grupo">
                    <label for="campo-media-rotas">Média</label>
                    <input id="campo-media-rotas" type="number" class="campo-texto campo-pequeno" name="media_rota" value="" data-mascara="nota">
                </div>
            {% endif %}
        </div>

        <div class="formulario-grupo" data-campo-formacao>
            <label for="campo-formacao-tecnica">Formação Técnica e Profissional</label>
            <input type="number" class="campo-texto campo-pequeno" id="campo-formacao-tecnica" name="formacao_tecnica" value="{{ relatorio.formacao_tecnica }}" data-mascara="nota">
        </div>
    {% endif %}

    <div class="formulario-grupo">
        <label for="camppo-resultado" class="texto-azul label-campo">Resultado</label>
        <select class="campo-texto campo-medio" name="resultado" id="campo-resultado">
            {% for item in resultados %}
                {% if relatorio.resultado == item.0 %}
                    <option value="{{ item.0 }}" selected>{{ item.1 }}</option>
                {% else %}
                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="container-botoes">
        <button id="botao-diversificada-voltar" data-form-botao="formacao-basica" class="botao botao--azul">Voltar</button>

        <button class="botao botao--verde" type="submit">Salvar</button>
    </div>
</div>
