<form class="container-surface" method="POST">

    {% csrf_token %}

    <nav class="container-navegacao-surface">
        <ul class="navegacao-surface-lista">
            <li class="navegacao-surface-item navegacao-surface-item-ativo">
                <span class="texto-azul">Estante</span>
            </li>
        </ul>
    </nav>

    <div class="formulario-grupo">
        <label for="campo-patrimonio">Patrimônio</label>
        <input class="campo-texto campo-medio" type="text" id="campo-patrimonio" name="patrimonio" maxlength="30" required>
    </div>

    <div class="formulario-grupo">
        <label for="campo-tipo-estante">Tipo</label>

        <select name="tipo-estante" id="campo-tipo-estante" class="campo-texto campo-medio">
            <option value="Estante de aço para biblioteca">Estante de aço para biblioteca</option>
            <option value="Estante de madeira">Estante de madeira</option>
        </select>
    </div>

    {% include 'administracao/unidades/inventario/item-formulario/partials/_modal-confirmacao.html' %}
</form>