<div class="container-botoes">
    <button data-modal-abrir="confirmar" class="botao botao--azul">Salvar</button>
</div>

<div class="modal oculto" data-modal="confirmar">
    <div class="modal-conteudo modal-confirmacao">
        <h3 class="texto-medio texto-azul texto-negrito">Confirmar operação</h3>
        <p class="texto-preto descricao">Tem certeza que deseja salvar o agendamento?</p>

        <div class="container-botoes">
            <button class="botao--verde botao" type="submit">Salvar</button>
            <button class="botao botao--vermelho" data-modal-fechar>Cancelar</button>
        </div>
    </div>
</div>