{% extends 'partials/_base.html' %}

{% block title %} Contratos da Terceirização {% endblock %}

{% load static %}

{% block select %}
    {% include 'partials/_select2.html' %}
{% endblock %}

{% block css_layout %}
    <link rel="stylesheet"  href="{% static 'assets/css/layout/terceirizacao/contrato/contratos.css' %}">
    <link rel="stylesheet"  href="{% static 'assets/css/layout/terceirizacao/contrato/responsivo/contratos-responsivo.css' %}">
{% endblock %}

{% block content %}
{% include 'partials/_cabecalho.html' %}

<main>
    <div class="container">
        <nav class="container-navegacao">
            <a href="{% url 'core:index' %}" class=" texto-azul">Home</a>
            <span class="texto-azul">&#62;</span>

            <a href="{% url 'terceirizacao:index' %}" class=" texto-azul">Terceirização</a>
            <span class="texto-azul">&#62;</span>

            <span class="  texto-azul">Contratos</span>
        </nav>

        <h1 class="titulo-pagina texto-azul">Contratos</h1>

        <div class="container-surface container-contratos-terceirizados-busca">
            <h2 class="texto-medio texto-azul">Buscar contrato</h2>

            <form class="formulario" method="GET">
                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-numero-contrato">N° do contrato</label>
                    <input type="text" id="campo-numero-contrato" name="numero_contrato" class="campo-texto campo-pequeno" placeholder="Ex: 0000/0000" data-mascara="contrato">
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-numero-sei">N° do SEI</label>
                    <input type="text" name="numero_sei" id="campo-numero-sei" class="campo-texto campo-medio" placeholder="0000.000000.00000/0000-00" data-mascara="sei">
                </div>

                {% comment %} <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-unidade-admnistrativa">Unidade Administrativa</label>
                    <select data-selecao2  name="administrativa" id="campo-unidade-admnistrativa" class="campo-texto campo-grande">
                        <option></option>
                        {% for adm in unidades_administrativas %}
                            <option value="{{ adm.id }}">{{adm.sigla}} - {{ adm }}</option>
                        {% endfor %}
                    </select>
                </div> {% endcomment %}

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo">Empresa</label>

                    <select data-selecao2 name="empresa" class="campo-texto campo-medio">
                        <option></option>
                        {% for empresa in empresas %}
                            <option data-opcao-empresa value="{{ empresa.0 }}">{{ empresa.1 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="container-botoes">
                    <button class="botao botao--azul">Buscar</button>
                    <button class="botao botao--azul" disabled>Filtros</button>

                    {% if permissao.imprimir == 1 %}
                        <button class="botao botao--azul" data-modal-abrir="exportar">Exportar</button>
                    {% endif %}
                </div>
            </form>
        </div>

        <table class="tabela tabela-contratos">
            <thead>
                <tr>
                    <th>N° Contrato</th>
                    <th>Empresa</th>
                    <th>Data vigente</th>
                    <th>Valor total</th>
                    <th>Situacao</th>
                </tr>
            </thead>

            <tbody data-tabela-link="{% url 'terceirizacao:contrato-perfil' %}?id_contrato=" >
                {% for contrato in contratos %}
                    <tr data-tabela-link-chave="{{ contrato.id }}">
                        <td>{{ contrato.numero_contrato }}</td>
                        <td>{{ contrato.empresa.nome }}</td>
                        <td>{{ contrato.data_inicio }}</td>
                        <td>{{ contrato.valor_total }}</td>
                        <td>{{ contrato.situacao }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td class="coluna-paginacao" colspan="5">
                        <div class="container-paginacao">
                            <div>
                                <span class="texto-negrito texto-azul">TOTAL:</span>
                                <span>{{ quantidade_contratos }}</span>
                            </div>

                            <div>
                                {% if contratos.has_previous %}
                                    <a class="" href="{% url 'terceirizacao:contratos' %}?{{ gets_primeira }}">
                                        <button class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:contratos' %}?{{ gets_anterior }}">
                                        <button class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% endif %}

                                <span class="">
                                    {{ contratos.number }} de {{ contratos.paginator.num_pages }}
                                </span>

                                {% if contratos.has_next %}
                                    <a class="" href="{% url 'terceirizacao:contratos' %}?{{ gets_proxima }}">
                                        <button class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:contratos' %}?{{ gets_ultima }}">
                                        <button class="botao-paginacao">last_page</button>
                                    </a>

                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">last_page</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>

        <table class="tabela tabela-contratos-tablet">
            <thead>
                <tr>
                    <th>N° Contrato</th>
                    <th>Empresa</th>
                    <th>Valor total</th>
                    <th>Situacao</th>
                </tr>
            </thead>

            <tbody data-tabela-link="{% url 'terceirizacao:contrato-perfil' %}?id_contrato=" >
                {% for contrato in contratos %}
                    <tr data-tabela-link-chave="{{ contrato.id }}">
                        <td>{{ contrato.numero_contrato }}</td>
                        <td>{{ contrato.empresa.nome }}</td>
                        <td>{{ contrato.valor_total }}</td>
                        <td>{{ contrato.situacao }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td class="coluna-paginacao" colspan="5">
                        <div class="container-paginacao">
                            <div>
                                <span class="texto-negrito texto-azul">TOTAL:</span>
                                <span>{{ quantidade_contratos }}</span>
                            </div>

                            <div>
                                {% if contratos.has_previous %}
                                    <a class="" href="{% url 'terceirizacao:contratos' %}?{{ gets_primeira }}">
                                        <button class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:contratos' %}?{{ gets_anterior }}">
                                        <button class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% endif %}

                                <span class="">
                                    {{ contratos.number }} de {{ contratos.paginator.num_pages }}
                                </span>

                                {% if contratos.has_next %}
                                    <a class="" href="{% url 'terceirizacao:contratos' %}?{{ gets_proxima }}">
                                        <button class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:contratos' %}?{{ gets_ultima }}">
                                        <button class="botao-paginacao">last_page</button>
                                    </a>

                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">last_page</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>

        <table class="tabela tabela-contratos-smartphone">
            <thead>
                <tr>
                    <th>N° Contrato</th>
                    <th>Empresa</th>
                    <th>Situacao</th>
                </tr>
            </thead>

            <tbody data-tabela-link="{% url 'terceirizacao:contrato-perfil' %}?id_contrato=" >
                {% for contrato in contratos %}
                    <tr data-tabela-link-chave="{{ contrato.id }}">
                        <td>{{ contrato.numero_contrato }}</td>
                        <td>{{ contrato.empresa.nome }}</td>
                        <td>{{ contrato.situacao }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td class="coluna-paginacao" colspan="3">
                        <div class="container-paginacao">
                            <div>
                                <span class="texto-negrito texto-azul">TOTAL:</span>
                                <span>{{ quantidade_contratos }}</span>
                            </div>

                            <div>
                                {% if contratos.has_previous %}
                                    <a class="" href="{% url 'terceirizacao:contratos' %}?page=1">
                                        <button class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:contratos' %}?page={{ contratos.previous_page_number }}">
                                        <button class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% endif %}

                                <span class="">
                                    {{ contratos.number }} de {{ contratos.paginator.num_pages }}
                                </span>

                                {% if contratos.has_next %}
                                    <a class="" href="{% url 'terceirizacao:contratos' %}?{{ gets_proxima }}">
                                        <button class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:contratos' %}?page={{ contratos.paginator.num_pages }}">
                                        <button class="botao-paginacao">last_page</button>
                                    </a>

                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">last_page</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>

{% include 'terceirizacao/contrato/partials/_modal-contrato-exportar.html' %}
{% include 'partials/_rodape.html' %}

<script src="{% static 'assets/js/module/linkTabela.js' %}"></script>
<script src="{% static 'assets/js/module/select2.js' %}"></script>
<script src="{% static 'assets/js/module/mascaras.js' %}" type="module"></script>
<script src="{% static 'assets/js/module/abrirModal.js' %}"></script>

{% endblock %}