<div class="lista-menus">
    <div class="menu-pai" data-accordeon-pai="servidores-terceirizado" data-accorderon-ativo="false" style="border-left-style: solid; border-left-color: var(--primary-color); border-left-width: 12px;">
        <h3 class="texto-medio texto-azul">Servidores Terceirizados ({{ qtd_servidores_terceirizados }})</h3>
        <span class="icone icone-medio icone-azul">expand_more</span>
    </div>

    <div class="menu-pai menu-filho" data-accordeon-filho="servidores-terceirizado" data-accorderon-ativo="false">
        <table class="tabela tabela-servidores">
            <thead>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Tipo</th>
            </thead>
            {% for servidor in servidores_terceirizados %}
                <tbody>
                    <tr>
                        <td>{{ servidor.servidor__nome }}</td>
                        <td>{{ servidor.item__descricao }}</td>
                        <td>Terceirizado</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>