<div class="contrato-documentos oculto" data-nav-container="documentos">
    {% if documentos %}
        <div class="container-cards-simples">

            {% for documento in documentos %}
                <div class="card-simples card-documento">
                    <h4 class="card-simples__titulo texto-azul">{{ documento.categoria }}</h4>

                    <div class="card-simples__descricao" >
                        <p class=" texto-azul texto-negritos">Descrição: <span class="texto-preto texto-normal">{{ documento.descricao }}</span></p>
                    </div>
                        <a class="link" href="{% url 'core:index' %}{{documento.path_arquivo}}" target="_blank">Abrir </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 class="texto-medio texto-preto">Este contrato não contém documentos.</h2>
    {% endif %}

    {% if permissao.editar == 1 %}
        <div class="container-botoes">
            {% if aplicacao == 'Administração' %}
                <a href="{% url 'administracao:documento-formulario' %}?id_contrato={{ contrato.id }}">
            {% elif aplicacao == 'Tecnologia' %}
                <a href="{% url 'tecnologia:documento-formulario' %}?id_contrato={{ contrato.id }}">
            {% elif aplicacao == 'Terceirização' %}
                <a href="{% url 'terceirizacao:documento-formulario' %}?id_contrato={{ contrato.id }}">
            {% endif %}

                <button class="botao botao--azul">Adicionar</button>
            </a>
        </div>
    {% endif %}
</div>