{% extends 'partials/_base.html' %}

{% block title %}
    Cadastro de Endereço
{% endblock %}

{% load static %}

{% block css_layout %}
    <link rel="stylesheet"  href="{% static 'assets/css/layout/core/servidor/servidor-endereco.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}
    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a  class="  texto-azul" href="{% url 'core:index' %}">Home</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'core:perfil' %}">{{ servidor.nome }}</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">Cadastro de Endereço</span>

            </nav>

            <h1 class="titulo-pagina texto-azul">Cadastro de Endereço</h1>

            <p class="descricao  texto-preto">Insira os dados de endereço do servidor</p>

            <form class="container-surface formulario-servidor-endereco" method="POST">
                {% csrf_token %}
                <nav class="container-navegacao-surface">
                    <ul class="navegacao-surface-lista">
                        <li class="navegacao-surface-item navegacao-surface-item-ativo" data-form-aba="dados-endereco">
                            <span class="texto-azul ">Cadastrar endereço</span>
                        </li>
                    </ul>

                </nav>

                <div class="formulario-servidor-endereco" data-form-container="endereco">
                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-estado">Residência (estado)</label>
                        <input id="campo-regional" class="campo-texto campo-pequeno" type="text" value="Acre" name="estado" id="campo-estado" readonly>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-municipio">Residência (município)</label>

                        <select id="campo-municipio" name="municipio" class="campo-texto campo-medio" data-selecao-municipio>
                            {% for municipio in cidades %}
                                {% if municipio.nome == servidor_endereco.municipio %}
                                    <option value="{{ municipio.nome }}" selected>{{ municipio.nome }}</option>
                                {% else %}
                                    <option value="{{ municipio.nome }}">{{ municipio.nome }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-regiao">Regional</label>
                        <input id="campo-regional" class="campo-texto campo-pequeno" type="text" value="{{ servidor_endereco.regiao }}" name="regiao" id="campo-regiao" readonly data-campo-regiao>
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-rua">CEP</label>
                        <input class="campo-texto campo-pequeno" type="text" value="{{ servidor_endereco.cep }}" name="cep" id="campo-cep" maxlength="10" placeholder="Ex: 69908-440" autocomplete="off" data-mascara="cep">
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-rua">Rua</label>
                        <input class="campo-texto campo-grande" type="text" value="{{ servidor_endereco.rua }}" name="rua" id="campo-rua" placeholder="Ex: Isaura Parente" autocomplete="off">
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-numero">Número</label>
                        <input class="campo-texto campo-pequeno" type="text" value="{{ servidor_endereco.numero }}" name="numero" id="campo-numero" placeholder="Ex: 143" autocomplete="off" data-mascara="numero">
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-bairro">Bairro</label>
                        <input class="campo-texto campo-medio" type="text" value="{{ servidor_endereco.bairro }}" name="bairro" id="campo-bairro" placeholder="Ex: Centro" autocomplete="off">
                    </div>

                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-complemento">Complemento</label>
                        <input class="campo-texto campo-grande" type="text" value="{{ servidor_endereco.complemento }}" name="complemento" id="campo-complemento" placeholder='Ex: Ao lado do posto de saúde Dona Maria'>
                    </div>
                </div>
                <div class="container-botoes">
                    <button class="botao botao--azul" data-modal-abrir="confirmar">Cadastrar</button>
                </div>
                <div class="modal oculto" data-modal="confirmar">
                    <div class="modal-conteudo modal-confirmacao">
                        <h3 class="texto-medio texto-azul texto-negrito">Confirmar operação</h3>
                            <p class="texto-preto descricao">Tem certeza que deseja atualizar o endereço do servidor?</p>

                            <div class="container-botoes">
                                <button class="botao--verde botao" type="submit">Cadastrar</button>
                                <button class="botao botao--vermelho" data-modal-fechar>Cancelar</button>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    {% include 'partials/_rodape.html' %}

    <script src="{% static 'assets/js/module/abrirModal.js' %}"></script>
    <script src="{% static 'assets/js/module/mascaras.js' %}" type="module"></script>
    <script src="{% static 'assets/js/layout/core/servidor-endereco/controlaCampos.js' %}"></script>

{% endblock %}