{% extends 'partials/_base.html' %}

{% block title %} Contrato n° {{ contrato.numero_contrato }} {% endblock %}

{% load static %}

{% block css_layout %}
    <link rel="stylesheet"  href="{% static 'assets/css/layout/partials/contrato/_contrato-dados.css' %}">
    <link rel="stylesheet"  href="{% static 'assets/css/layout/partials/contrato/_contrato-navegacao.css' %}">
    <link rel="stylesheet"  href="{% static 'assets/css/layout/partials/contrato/responsivo/_contrato-dados-responsivo.css' %}">
    <link rel="stylesheet"  href="{% static 'assets/css/layout/partials/contrato/responsivo/_contrato-navegacao-responsivo.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}

    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a  class="  texto-azul" href="{% url 'core:index' %}">Home</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:index' %}">Administração</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:contratos' %}">Contratos</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">Contrato nº {{ contrato.numero_contrato }}</span>
            </nav>

            {% include 'partials/contrato/_contrato-dados.html' %}

            {% include 'partials/contrato/_contrato-navegacao.html' %}
        </div>
    </main>

    {% include 'partials/_rodape.html' %}

    <script src="{% static 'assets/js/module/abrirModal.js' %}"></script>
    <script src="{% static 'assets/js/module/controlaNavegacaoSurface.js' %}"></script>
    <script src="{% static 'assets/js/module/linkTabela.js' %}"></script>

    <script src="{% static 'assets/js/layout/partials/contrato/contrato-perfil/controlaLinks.js' %}"></script>
{% endblock %}