{% load static %}

<div class="modal oculto" data-modal="exportar">
    <form id="modal-conteudo" class="modal-conteudo" method="POST">
        {% csrf_token %}
        <h2 class="texto-grande texto-negrito texto-azul">Exportar dados</h2>
        <p class="descricao texto-preto ">Insira o formato e campos que deseja exportar</p>

        <div class="formulario-grupo">
            <h3 class="texto-medio texto-azul">Formato</h3>

            <fieldset id="exportar-fieldset-formatos">
                <input type="radio" name="exportar-fieldset-formatos" value="excel" id="radio-excel" checked>
                <label class="texto-preto" for="radio-excel">Excel</label>

                {% comment %} <input type="radio" name="exportar-fieldset-formatos" value="pdf" id="radio-pdf">
                <label class="texto-preto" for="radio-pdf">PDF</label> {% endcomment %}
            </fieldset>
        </div>

        <div class="formulario-grupo">
            <h3 class="texto-medio texto-azul">Campos</h3>

            <div>
                <input type="checkbox" name="contrato" id="exportar-campo-contrato" checked>
                <label class="texto-preto" for="exportar-campo-contrato">N° contrato</label>
            </div>

            <div>
                <input type="checkbox" name="item" id="exportar-campo-item" checked>
                <label class="texto-preto" for="exportar-campo-item">Item</label>
            </div>

            <div>
                <input type="checkbox" name="lote" id="exportar-campo-lote" checked>
                <label class="texto-preto" for="exportar-campo-lote">Lote</label>
            </div>

            <div>
                <input type="checkbox" name="descricao" id="exportar-campo-descricao" checked>
                <label class="texto-preto" for="exportar-campo-descricao">Descrição</label>
            </div>

            <div>
                <input type="checkbox" name="quantidade" id="exportar-campo-quantidade" checked>
                <label class="texto-preto" for="exportar-campo-quantidade">Quantidade total</label>
            </div>

            <div>
                <input type="checkbox" name="disponiveis" id="exportar-campo-disponiveis" checked>
                <label class="texto-preto" for="exportar-campo-disponiveis">Disponíveis</label>
            </div>

            <div>
                <input type="checkbox" name="valor_unitario" id="exportar-campo-unitario" checked>
                <label class="texto-preto" for="exportar-campo-unitario">Valor unitário</label>
            </div>


        </div>

        <div class="container-botoes">
            <button type="POST" class="botao botao--verde">Exportar</button>
        </div>
    </form>
</div>