{% load static %}

<div class="oculto" data-nav-container="{{ relatorio.etapa }}">
    {% if relatorio.resultado != 'Transferido' %}

        <div class="formulario-grupo">
            <h3 class="texto-medio texto-azul">FORMAÇÃO GERAL BÁSICA</h3>
        </div>

        <div class="formulario-grupo">
            <label for="campo-portugues" class="texto-azul label-campo">Língua Portuguesa e Literatura</label>
            <input type="number" name="portugues" id="campo-portugues" class="campo-texto campo-pequeno" value="{{ relatorio.portugues }}" readonly>
        </div>

        <div class="formulario-grupo">
            <label for="campo-matematica" class="texto-azul label-campo">Matemática</label>
            <input type="number" name="matematica" id="campo-matematica" class="campo-texto campo-pequeno" value="{{ relatorio.matematica }}" readonly>
        </div>

        {% if relatorio.etapa != '3ª Série' %}
            <div class="formulario-grupo">
                <label for="campo-arte" class="texto-azul label-campo">Arte</label>
                <input type="number" name="arte" id="campo-arte" class="campo-texto campo-pequeno" value="{{ relatorio.arte }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-ingles" class="texto-azul label-campo">Língua Inglesa</label>
                <input type="number" name="ingles" id="campo-ingles" class="campo-texto campo-pequeno" value="{{ relatorio.ingles }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-educacao-fisica" class="texto-azul label-campo">Educação Física</label>
                <input type="number" name="ed_fisica" id="campo-educacao-fisica" class="campo-texto campo-pequeno" value="{{ relatorio.ed_fisica }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-fisica" class="texto-azul label-campo">Física</label>
                <input type="number" name="fisica" id="campo-fisica" class="campo-texto campo-pequeno" value="{{ relatorio.fisica }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-quimica" class="texto-azul label-campo">Química</label>
                <input type="number" name="quimica" id="campo-quimica" class="campo-texto campo-pequeno" value="{{ relatorio.quimica }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-biologia" class="texto-azul label-campo">Biologia</label>
                <input type="number" name="biologia" id="campo-biologia" class="campo-texto campo-pequeno" value="{{ relatorio.biologia }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-historia" class="texto-azul label-campo">História</label>
                <input type="number" name="historia" id="campo-historia" class="campo-texto campo-pequeno" value="{{ relatorio.historia }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-geografia" class="texto-azul label-campo">Geografia</label>
                <input type="number" name="geografia" id="campo-geografia" class="campo-texto campo-pequeno" value="{{ relatorio.geografia }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-filosofia" class="texto-azul label-campo">Filosofia</label>
                <input type="number" name="filosofia" id="campo-filosofia" class="campo-texto campo-pequeno" value="{{ relatorio.filosofia }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-sociologia" class="texto-azul label-campo">Sociologia</label>
                <input type="number" name="sociologia" id="campo-sociologia" class="campo-texto campo-pequeno" value="{{ relatorio.sociologia }}" readonly>
            </div>
        {% endif %}

        <div class="formulario-grupo">
            <h3 class="texto-medio texto-azul">ATIVIDADES FLEXÍVEIS</h3>
        </div>

        <div class="formulario-grupo">
            <label for="campo-projeto" class="texto-azul label-campo">Projeto de Vida</label>
            <input type="number" name="projeto_vida" id="campo-projeto" class="campo-texto campo-pequeno" value="{{ relatorio.projeto_vida }}" readonly>
        </div>

        {% if relatorio.etapa != '3ª Série' %}
            <div class="formulario-grupo">
                <label for="campo-espanhol" class="texto-azul label-campo">Espanhol</label>
                <input type="number" name="espanhol" id="campo-espanhol" class="campo-texto campo-pequeno" value="{{ relatorio.espanhol }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-lt-ch" class="texto-azul label-campo">Eletiva Interdisciplinar (LT-CH)</label>
                <input type="number" name="lt_ch" id="campo-lt-ch" class="campo-texto campo-pequeno" value="{{ relatorio.lt_ch }}" readonly>
            </div>

            <div class="formulario-grupo">
                <label for="campo-mt-cn" class="texto-azul label-campo">Eletiva Interdisciplinar (MT-CN)</label>
                <input type="number" name="mt_cn" id="campo-mt-cn" class="campo-texto campo-pequeno" value="{{ relatorio.mt_cn}}" readonly>
            </div>
        {% endif %}

        {% if relatorio.investigacao != '-' and relatorio.etapa == '3ª Série' %}
            <div class="formulario-grupo">
                <h3 class="texto-medio texto-azul">ROTA DE APROFUNDAMENTO PROPEDEUTICA</h3>
            </div>

            <div class="formulario-grupo" data-form-propedeutica>
                <p class="texto-azul ">Área de conhecimento: <span class="texto-preto texto-normal">{{ relatorio.area_conhecimento }}</span></p>
            </div>

            <div class="formulario-grupo" data-form-propedeutica>
                <label for="campo-investigacao" class="texto-azul label-campo">Investigação Científica</label>
                <input type="number" name="investigacao" id="campo-investigacao" class="campo-texto campo-pequeno" value="{{ relatorio.investigacao}}" readonly>
            </div>

            <div class="formulario-grupo" data-form-propedeutica>
                <label for="campo-processos" class="texto-azul label-campo">Processos Criativos</label>
                <input type="number" name="criativos" id="campo-processos" class="campo-texto campo-pequeno" value="{{ relatorio.criativos }}" readonly>
            </div>

            <div class="formulario-grupo" data-form-propedeutica>
                <label for="campo-mediacao" class="texto-azul label-campo">Mediação e Interverção Sociocultural</label>
                <input type="number" name="sociocultural" id="campo-mediacao" class="campo-texto campo-pequeno" value="{{ relatorio.sociocultural }}" readonly>
            </div>

            <div class="formulario-grupo" data-form-propedeutica>
                <label for="campo-empreendedorismo" class="texto-azul label-campo">Empreendedorismo</label>
                <input type="number" name="empreendedorismo" id="campo-empreendedorismo" class="campo-texto campo-pequeno" value="{{ relatorio.empreendedorismo }}" readonly>
            </div>

        {% endif %}
    {% endif %}

    <div class="formulario-grupo">
        <label for="campo-resultado" class="texto-azul label-campo">Resultado</label>
        <input type="text" name="resultado" id="campo-resultado" class="campo-texto campo-pequeno" value="{{ relatorio.resultado }}" readonly>
    </div>

    <div class="container-botoes">
        <a href="{% url 'dinem:aluno-boletim' %}?id={{ aluno.id }}&etapa={{ relatorio.etapa }}">
            <button id="" class="botao botao--azul">Editar</button>
        </a>
    </div>
</div>