{% load static %}

<div class="oculto" data-nav-container="cnh">
    <div class="container-cards-simples">
        {% for dados in cnh %}
            <div class="card-simples card-documento" data-documento-resultado="{{ dados.descricao }}">
                <div class="card-simples__descricao">
                    <p title="{{dados.descricao}}" class=" texto-azul texto-negritos">Descrição:
                    </p>
                    <p class="texto-preto texto-normal" width = 150px>{{ dados.descricao }}</p>
                    <p class=" texto-azul texto-negritos">Formato: <span class="texto-preto texto-normal">{{ dados.formato }}</span></p>
                </div>

                <a class="link" href="{% url 'core:index' %}{{dados.caminho}}" target="_blank">Abrir</a>
            </div>
        {% empty %}
            <p class="texto-preto " data-sem-documentos>Nenhuma CNH cadastrada</p>
        {% endfor %}
    </div>
</div>
