{% extends 'partials/_base.html' %}

{% block title %} SIMAED {% endblock %}

{% load static %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}

    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a href="{% url 'core:index' %}" class=" texto-azul">Home</a>
                <span class="texto-azul">&#62;</span>

                <a href="{% url 'atena:index' %}" class=" texto-azul">Configurações</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">SIMAED</span>
            </nav>

            <h1 class="titulo-pagina">SIMAED</h1>

            <form method="POST" class="container-surface" enctype="multipart/form-data">
                {% csrf_token %}

                <nav class="container-navegacao-surface">
                    <ul class="navegacao-surface-lista">
                        <li class="navegacao-surface-item navegacao-surface-item-ativo">Nova importação</li>
                    </ul>
                </nav>

                <div class="formulario-grupo">
                    <label for="campo-arquivo">Arquivo SIMAED (.csv)</label>
                    <input type="file" name="arquivo" id="campo-arquivo" accept=".csv" class="campo-arquivo" required>
                </div>

                <div class="container-botoes">
                    <button type="submit" class="botao botao--azul">Importar arquivo</button>
                </div>
            </form>

            <div class="container-surface">
                <h2 class="texto-azul texto-medio">Importações</h2>

                <div class="container-cards-simples">
                    {% for importacao in importacoes %}
                        <a class="card-simples" href="{% url 'atena:importacao' importacao.id %}">
                             
                            <h3 class="card-simples__titulo">{{ importacao }}</h3>

                            <div class="card-simples__descricao">
                                <p class="texto-preto"><b class="texto-azul">Data: </b>{{ importacao.data_hora }}</p>
                                <p class="texto-preto"><b class="texto-azul">Enturmações: </b>{{ importacao.enturmacoes }}</p>
                                <p class="texto-preto"><b class="texto-azul">Novas enturmações: </b>{{ importacao.novas_enturmacoes }}</p>
                                <p class="texto-preto"><b class="texto-azul">Arquivo: </b>{{ importacao.get_arquivo }}</p>
                            </div>

                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    {% include 'partials/_rodape.html' %}
{% endblock %}