{% extends 'partials/_base.html' %}

{% block title %}
Anexo de Documentos
{% endblock %}

{% load static %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}
    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a  class="  texto-azul" href="{% url 'core:index' %}">Home</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'lotacao:index' %}">Gestão de Pessoas</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'lotacao:servidores' %}">Servidores</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'lotacao:servidor-perfil' %}?id={{servidor.id}}">{{ servidor.nome }}</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">Anexar Documentos</span>
            </nav>

            <h1 class="titulo-pagina texto-azul">Anexo de Documento</h1>
            <p class="descricao  texto-preto">Insira os documentos do servidor</p>

            <form class="container-surface" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <h2 class="texto-medio texto-azul">Anexar documento</h2>

                <div class="formulario-grupo">
                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="documento">Insira o arquivo</label>
                        <input class="campo-arquivo" id="documento" type="file" name="documento" required>
                    </div>
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo">Categoria</label>

                    <select data-selecao2 name="categoria" class="campo-texto campo-medio">
                        {% for categoria in categorias %}
                            <option data-opcao-empresa value="{{ categoria }}">{{ categoria }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="formulario-grupo">
                    <label for="campo-texto-descricao" class="texto-azul label-campo">Descrição do Documento</label>
                    <textarea name="descricao" id="campo-texto-descricao" class="campo-texto campo-area" required maxlength="100"></textarea>
                </div>

                <div class="container-botoes">
                    <button class="botao botao--azul" data-modal-abrir="confirmar">Cadastrar</button>
                </div>

                <div class="modal oculto" data-modal="confirmar">
                    <div class="modal-conteudo modal-confirmacao">
                        <h3 class="texto-medio texto-azul texto-negrito">Confirmar operação</h3>
                        <p class="texto-preto descricao">Tem certeza que deseja anexar o documento?</p>

                        <div class="container-botoes">
                            <button class="botao--verde botao" type="submit">Salvar</button>
                            <button class="botao botao--vermelho" data-modal-fechar>Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    {% include 'partials/_rodape.html' %}

    <script src="{% static 'assets/js/module/abrirModal.js' %}"></script>
{% endblock %}