/* Estilização do perfil de uma turma no contexto do Educação Conectada */

.container-tablets-status{
    align-items: center;
    display: flex;
    gap: 1rem;
}

.tablet-status{
    aspect-ratio: 1;
    border-radius: 100vmax;
    display: block;
    height: 1rem;
}

    td > .tablet-status{
        margin: auto;
    }

    .tablet--nao-cadastrado{
        background-color: var(--cor-vermelho);
    }

    .tablet--pendente{
        background-color: var(--cor-amarelo);
    }

    .tablet--entregue{
        background-color: var(--cor-azul);
    }

    .tablet--finalizado{
        background-color: var(--cor-verde);
    }