{% load static %}

<div class="item-servidores" data-nav-container="servidores">
    {% if quantidade_servidores > 0 %}
        <table class="tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Lotação</th>
                    <th>Municipio</th>
                </tr>
            </thead>

            <tbody>
                {% for servidor in servidores %}
                    <tr>
                        <td>{{ servidor.servidor.nome|upper }}</td>
                        <td>{{ servidor.servidor.cpf }}</td>
                        {% if servidor.unidade_administrativa %}
                            <td>{{ servidor.unidade_administrativa|upper }}</td>
                        {% else %}
                            <td>{{ servidor.endereco|upper }}</td>
                        {% endif %}
                        <td>{{ servidor.endereco.municipio|upper }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td class="coluna-paginacao" colspan="3">
                        <div class="container-paginacao">
                            <div>
                                <span class="texto-negrito texto-azul">Vagas restantes:</span>
                                {% if contrato.tipo_contrato == 'Postos de trabalho - Limpeza' %}
                                    <span class="texto-normal texto-preto">{{ vagas_restantes }}m²</span>
                                {% else %}
                                    <span class="texto-normal texto-preto">{{ vagas_restantes }}</span>
                                {% endif %}
                            </div>
                            <div>      
                                {% if servidores.has_previous %}
                                    <a class="" href="{% url 'terceirizacao:item-perfil' %}?{{ gets_primeira }}">
                                        <button class="botao-paginacao">first_page</button>
                                    </a>
                                    
                                    <a class="" href="{% url 'terceirizacao:item-perfil' %}?{{ gets_anterior }}">
                                        <button class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% else %}
                                    <a class="" href="">
                                        <button disabled class="botao-paginacao">first_page</button>
                                    </a>
                                    
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% endif %}
                                
                                <span class="">
                                    {{ servidores.number }} de {{ servidores.paginator.num_pages }}
                                </span>

                                {% if servidores.has_next %}
                                    <a class="" href="{% url 'terceirizacao:item-perfil' %}?{{ gets_proxima }}">
                                        <button class="botao-paginacao">navigate_next</button>
                                    </a>
                                    
                                    <a class="" href="{% url 'terceirizacao:item-perfil' %}?{{ gets_ultima }}">
                                        <button class="botao-paginacao">last_page</button>
                                    </a>
                                
                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_next</button>
                                    </a>
                                    
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">last_page</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <h2 class="texto-medio texto-azul">Nenhum servidor lotado neste item do contrato.</h2>
    {% endif %}
</div>