{% load static %}

<div class="item-servidores" data-nav-container="postos_trabalho">
    {% if quantidade_postos > 0 %}
        <table class="tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Funcionários</th>
                    <th>Situação</th>
                </tr>
            </thead>

            <tbody>
                {% for posto in postos %}
                    <tr data-modal-abrir="posto{{ posto.id }}">
                        {% if posto.endereco %}
                            <td>{{ posto.endereco }}</td>
                        {% else %}
                            <td>{{ posto.unidade_administrativa }}</td>
                        {% endif %}

                        <td>{{ posto.vagas_ocupadas }}

                        {% if posto.status == 1 %}
                            <td>Ativo</td>
                        {% else %}
                            <td>Inativo</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td class="coluna-paginacao" colspan="3">
                        <div class="container-paginacao">
                            <div>
                                <span class="texto-negrito texto-azul">Vagas Restantes:</span>
                                <span class="texto-normal texto-preto">{{ vagas_restantes }}</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% if vagas_restantes > 0  and permissao.editar == 1 %}
            <div class="container-botoes">
                <a href="{% url 'terceirizacao:postos-formulario' %}?id_item={{ item.id }}">
                    <button class="botao botao--azul">Adicionar postos</button>
                </a>
            </div>
        {% endif %}
    {% elif permissao.editar == 1 %}
        <h2 class="texto-medio texto-azul">Nenhum postos de trabalhos adicionado neste item do contrato.</h2>

        <div class="container-botoes">
            <a href="{% url 'terceirizacao:postos-formulario' %}?id_item={{ item.id }}">
                <button class="botao botao--azul">Adicionar postos</button>
            </a>
        </div>
    {% endif %}

    {% for posto in postos %}
        <div class="modal oculto" data-modal="posto{{ posto.id }}">
            <div id="modal-conteudo" class="modal-conteudo">
                <h3 class="texto-medio texto-azul">Vigilantes cadastrados</h3>

                <table class="tabela">
                    <thead>
                        <tr>
                            <th>Nome</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if posto.funcionario1 == None and posto.funcionario2 == None and posto.funcionario3 == None %}
                            <tr class="linha-desabilitada">
                                <td>Nenhum Profissional cadastrado neste posto de vigilãncia.</td>
                            </tr>
                        {% endif %}

                        {% if posto.funcionario1 %}
                            <tr class="linha-desabilitada">
                                <td>{{ posto.funcionario1 }}</td>
                            </tr>
                        {% endif %}

                        {% if posto.funcionario2 %}
                            <tr class="linha-desabilitada">
                                <td>{{ posto.funcionario2 }}</td>
                            </tr>
                        {% endif %}

                        {% if posto.funcionario3 %}
                            <tr class="linha-desabilitada">
                                <td>{{ posto.funcionario3 }}</td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>

                {% comment %} {% if permissao.editar == 1 %}
                    <div class="container-botoes">
                        <a href="{% url 'terceirizacao:vigilantes-formulario' %}?id_posto={{ posto.id }}">
                            <button class="botao botao--azul">Editar</button>
                        </a>
                    </div>
                {% endif %} {% endcomment %}
            </div>
        </div>
    {% endfor %}

</div>