{% load static %}
<div class="oculto" data-nav-container="pessoais">
    <div class="container-cards-simples">
        {% for documento in pessoais %}
            <div class="card-simples card-documento" data-documento-resultado="{{ documento.descricao }}">
                <div class="card-simples__descricao">
                    <p title="{{documento.descricao}}" class=" texto-azul texto-negritos">Descrição: <span class="texto-preto texto-normal">{{ documento.descricao }}</span></p>
                    <p class=" texto-azul texto-negritos">Formato: <span class="texto-preto texto-normal">{{ documento.formato }}</span></p>
                </div>

                <div class="container-botoes">
                    <a class="link" href="{% url 'core:index' %}{{documento.caminho}}" target="_blank">Abrir</a>
                    <button class="botao botao--vermelho" data-modal-abrir="confirmar-{{ documento.id }}">Remover</button>
                </div>

                <div class="modal oculto" data-modal="confirmar-{{ documento.id }}">
                    <div class="modal-conteudo modal-confirmacao">
                        <h3 class="texto-medio texto-azul texto-negrito">Confirmar operação</h3>
                        <p class="texto-preto descricao">Tem certeza que deseja excluir o documento?</p>

                        <div class="container-botoes">
                            <form method= 'POST'>
                                {% csrf_token %}
                                <button class="botao botao--verde" type='submit' name='btn-excluir' value='excluir-{{documento.id}}'>Remover</button>
                            </form>
                            <button class="botao botao--vermelho" data-modal-fechar>Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="texto-preto " data-sem-documentos>Nenhum documento de estatuto cadastrado</p>
        {% endfor %}
    </div>

</div>