{% load static %}

<div class="comite-documentos oculto" data-nav-container="financeiro">
    <h2 class="texto-medio texto-preto">Sem dados bancários cadastrados</h2>
    {% if not consorcio %}
        <div class="container-botoes">
            <a href="https://www45.bb.com.br/fmc/frm/fw0701383_1.jsp?pk_vid=373521da924f269c1657025587ccd63a" target="_blank">
                <button class="botao botao--azul">Solicitar cartão para comitê</button>
            </a>
        </div>
    {% endif %}

</div>