{% load static %}

<div class="oculto" data-nav-container="vistorias">
    <div class="container-cards-simples">
        {% for vistoria in vistorias %}
            <div class="card-simples card-documento" data-documento-resultado="{{ vistoria.descricao }}">
                <div class="card-simples__descricao">
                    <p title="{{vistoria.descricao}}" class=" texto-azul texto-negritos">Descrição: <span class="texto-preto texto-normal">{{ vistoria.descricao }}</span></p>
                    <p class=" texto-azul texto-negritos">Formato: <span class="texto-preto texto-normal">{{ vistoria.formato }}</span></p>
                </div>

                <a class="link" href="{% url 'core:index' %}{{vistoria.caminho}}" target="_blank">Abrir</a>
            </div>
        {% empty %}
            <p class="texto-preto " data-sem-documentos>Nenhum documento de vistoria cadastrado</p>
        {% endfor %}
    </div>
</div>
