.tabela-contratos-tablet, .tabela-contratos-smartphone{
    display: none;
}

@media screen and (max-width: 633px){
    .tabela-contratos, .tabela-contratos-smartphone{
        display: none;
    }

    .tabela-contratos-tablet{
        display: block;
    }
}

@media screen and (max-width: 544px){
    .tabela-contratos, .tabela-contratos-tablet{
        display: none;
    }

    .tabela-contratos-smartphone{
        display: block;
    }
}