.tabela-aditivo-itens-smartphone{
    display: none;
}

@media screen and (max-width: 456px){
    .tabela-aditivo-itens{
        display: none;
    }
    
    .tabela-aditivo-itens-smartphone{
        display: block;
    }

    .tabela-aditivo-itens-smartphone th{
        width: 1%;
    }
    
}