.container-detalhes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 20px;
    text-align: justify;
    width: 60%;
}

.modal-conteudo .container-detalhes, .dropdown .container-detalhes{
    width: 100%;
}

    .container-detalhes:first-child{
        margin-top: 0;
    }

    .container-detalhes-bloco{
        margin-top: 8px;
    }