{% load static %}

<div class="servidor-escolaridade oculto" data-nav-container="escolaridade">
    <div class="container-cards-simples">
        <div class="card-simples ">
            <h4 class="card-simples__titulo texto-azul">SISTEMAS DE INFORMAÇÃO</h4>

            <div class="card-simples__descricao">
                <p class=" texto-azul texto-negrito">Tipo de formação: <span class="texto-preto texto-normal">Ensino superior</span></p>
                <p class=" texto-azul texto-negrito">Instituição de ensino: <span class="texto-preto texto-normal">Centro Universitáro Estácio Unimeta</span></p>
                <p class=" texto-azul texto-negrito">Ano de conclusão: <span class="texto-preto texto-normal">2022</span></p>
                <a href="#" class="link">Abrir diploma</a>

                <div class="container-botoes">
                    <button class="botao botao--azul">Editar</button>
                </div>
            </div>
        </div>

        <div class="card-simples ">
            <h4 class="card-simples__titulo texto-azul">ESPECIALIZAÇÃO EM DESIGN DE INTERFACES</h4>

            <div class="card-simples__descricao">
                <p class=" texto-azul texto-negrito">Tipo de formação: <span class="texto-preto texto-normal">Pós-Gradução</span></p>
                <p class=" texto-azul texto-negrito">Instituição de ensino: <span class="texto-preto texto-normal">Pitagoras</span></p>
                <p class=" texto-azul texto-negrito">Ano de conclusão: <span class="texto-preto texto-normal">2023</span></p>
                <a href="https://www.google.com" class="link">Abrir diploma</a>

                <div class="container-botoes">
                    <button class="botao botao--azul">Editar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-botoes">
        <button class="botao botao--azul">Adicionar</button>
    </div>
</div>