{% load static %}

<div class="servidor-lotacoes oculto" data-nav-container="lotacoes">
    <div class="container-cards-simples">
        <a href="#">
            <div class="card-simples ">
                <h4 class="card-simples__titulo texto-azul">DEPARTAMENTO DE TECNOLOGIAS EDUCACIONAIS E DA INFORMAÇÃO</h4>

                <div class="card-simples__descricao">
                    <p class=" texto-azul texto-negrito">Função: <span class="texto-preto texto-normal">ANALISTA</span></p>
                    <p class=" texto-azul texto-negrito">Data de início: <span class="texto-preto texto-normal">01/02/2009</span></p>
                    <p class=" texto-azul texto-negrito">Data de término: <span class="texto-preto texto-normal">02/03/2019</span></p>
                    <p class=" texto-azul texto-negrito">Status: <span class="texto-preto texto-normal">INATIVO</span></p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="card-simples ">
                <h4 class="card-simples__titulo texto-azul">ESC FRANCISCO SALGADO FILHO</h4>

                <div class="card-simples__descricao">
                    <p class=" texto-azul texto-negrito">Função: <span class="texto-preto texto-normal">PROFESSOR(A)</span></p>
                    <p class=" texto-azul texto-negrito">Data de início: <span class="texto-preto texto-normal">01/02/2020</span></p>
                    <p class=" texto-azul texto-negrito">Status: <span class="texto-preto texto-normal">ATIVO</span></p>
                </div>
            </div>
        </a>

    </div>

    <div class="container-botoes">
        <button class="botao botao--azul">Adicionar</button>
    </div>
</div>