{% load static %}

<div class="modal oculto" data-modal="portaria">
    <div id="modal-conteudo" class="modal-conteudo">
        <h2 class="titulo texto-grande texto-negrito texto-azul">QUEM PODE RECEBER O AUXÍLIO?</h2><br><br>
        <p> Art.  5º Os profissionais elencados no art. 2º da Lei nº 3.778, de 2021, incisos I, II, III, IV e V, compreende aqueles lotados nas escolas públicas estaduais, nos centros, núcleos, classes hospitalares e demais unidades de escolarização e de atendimento da educação especial, Representações da SEE nos municípios, na Diretoria de Ensino e seus respectivos departamentos, divisões, núcleos e centros, bem como no  Departamento de Formação e Assistência Educacional.
        § 1º  Os profissionais lotados de que trata o art. 5º, devem atender a pelo menos um dos critérios estabelecidos a </p><br>
        <p> <b> I -</b> ser professor da rede estadual de ensino, efetivo ou temporário, em efetivo exercício de sala de aula;</p><br>
        <p> <b> II -</b> ser professor da rede estadual de ensino, efetivo ou temporário, em efetivo exercício nos  centros, núcleos, classes hospitalares e demais unidades de escolarização e de atendimento da educação especial, bem como no exercício das funções de:</p>
        <p> <b>a)</b>	professor AEE;</p>
        <p> <b>b)</b>	professor tradutor intérprete educacional em libras;</p>
        <p> <b>c)</b>	professor brailista;</p>
        <p> <b>d)</b>	professor de libras;</p>
        <p> <b>e)</b>	professor mediador.</p><br>
        <p> <b> III -</b> ser profissional do ensino público estadual, docente e não-docente, investido em funções de:</p>
        <p> <b>a)</b>	direção escolar;</p>
        <p> <b>b)</b>	coordenação de ensino;</p>
        <p> <b>c)</b>	coordenação administrativa;</p>
        <p> <b>d)</b>	coordenação pedagógica;</p>
        <p> <b>e)</b>	secretaria escolar;</p>
        <p> <b>f)</b>	coordenação de centros e núcleos de atendimento da educação especial.</p><br>
        <p> <b> IV -</b> ser profissional do ensino público estadual, docente e não docente, lotado na Secretaria de Estado de Educação, Cultura e Esportes - SEE e nas suas Representações nos municípios, investidos nas funções de:</p>

        <p> <b>a)</b>	coordenador-geral;</p>
        <p> <b>b)</b>	coordenador de ensino;</p>
        <p> <b>c)</b>	coordenador administrativo;</p>
        <p> <b>d)</b>	coordenadores pedagógicos;</p>
        <p> <b>e)</b>	assessores pedagógicos.</p><br>
        <p> Art. 6º  Devem ser considerados os quantitativos de profissionais exigidos no Decreto nº 2.792, de 12 de junho de 2019, conforme as tipificações de cada Núcleo de Representação da SEE nos Municípios.</p><br>
        <p> Art. 7º  Fica estabelecida a obrigatoriedade de apresentação da portaria e/ou memorando de lotação pelo profissional destinatário do Programa de Inovação Educação Conectada para fins de comprovação do efetivo exercício das funções elencadas nesta portaria.
            Parágrafo único.  Os profissionais que trabalham na formação de professores e acompanhamento pedagógico são considerados assessores pedagógicos. <br>
        <p> Art. 8º  O Programa de Inovação Educação Conectada contempla os profissionais que desempenham as funções elencadas no art. 5º e que estejam em efetivo exercício nas  unidades a seguir:</p>
        <p> § 1º  Diretoria de Ensino:</p><br>
        <p> <b> I -</b> Departamento de Programas e Ações Especiais:</p>
        <p> <b>a)</b>	Divisão de Currículo;</p>
        <p> <b>b)</b>	Divisão de Educação em Direitos Humanos e Diversidade;</p>
        <p> <b>c)</b>	Divisão de Escolas Vocacionadas;</p>
        <p> <b>d)</b>	Divisão de Avaliação Escolar;</p>
        <p> <b>e)</b>	Divisão de Programas Especiais;</p>
        <p> <b>f)</b>	Núcleo de Ensino;</p>
        <p> <b>g)</b>	Núcleo Pedagógico;</p>
        <p> <b>h)</b>	Divisão de Ensino de Línguas;</p>
        <p> <b>i)</b>	Centro de Estudos de Línguas – Rio Branco;</p>
        <p> <b>j)</b>	Núcleo de Estudos de Línguas – Cruzeiro do Sul.</p><br>
        <p> <b> II -</b> Departamento de Educação Básica:</p>
        <p> <b>a)</b>	Divisão de Ensino Fundamental – Anos Iniciais;</p>
        <p> <b>b)</b>	Núcleo Pedagógico do Primeiro Ciclo;</p>
        <p> <b>c)</b>	Núcleo Pedagógico do Segundo Ciclo;</p>
        <p> <b>d)</b>	Núcleo de Interiorização;</p>
        <p> <b>e)</b>	Divisão de Ensino Fundamental – Anos Finais;</p>
        <p> <b>f)</b>	Núcleo Pedagógico Regular e de Escolas Militares;</p>
        <p> <b>g)</b>	Divisão de Ensino Médio;</p>
        <p> <b>h)</b>	Núcleo de Ensino Médio Regular e de Escolas Militares;</p>
        <p> <b>i)</b>	Núcleo de Ensino Médio Técnico Profissionalizante;</p>
        <p> <b>j)</b>	Núcleo de Ensino Médio em Tempo Integral;</p>
        <p> <b>h)</b> Núcleo do Novo Ensino Médio.</p><br>
        <p> <b> III -</b> Departamento de Modalidades Educacionais Especiais:</p>
        <p> <b>a)</b>	Divisão de EJA;</p>
        <p> <b>b)</b>	Núcleo Pedagógico EJA I;</p>
        <p> <b>c)</b>	Núcleo Pedagógico EJA II e Ensino Médio;</p>
        <p> <b>d)</b>	Núcleo de Alfabetização;</p>
        <p> <b>e)</b>	Núcleo CEJA - Rio Branco;</p>
        <p> <b>f)</b>	Núcleo CEJA - Cruzeiro do Sul;</p>
        <p> <b>g)</b>	Núcleo de Medidas Sócio Educativas e Prisional;</p>
        <p> <b>h)</b>	Núcleo de Exames de Certificação;</p>
        <p> <b>i)</b>	Divisão de Educação Especial;</p>
        <p> <b>j)</b>	Núcleo de Acompanhamento e Orientação Pedagógica Especializadas;</p>
        <p> <b>k)</b>	Núcleo de Formação Especializada;</p>
        <p> <b>l)</b>	Núcleo Estadual de Tecnologia Assistiva – NETA</p>
        <p> <b>m)</b>	Centro de Apoio ao Surdo (CAS/AC);</p>
        <p> <b>n)</b>	Centro de Ensino Especial Dom Bosco;</p>
        <p> <b>o)</b>	Centro de Apoio Pedagógico para Atendimento às Pessoas com Deficiência Visual (CAP/AC);</p>
        <p> <b>p)</b>	Núcleo de Atividades de Altas Habilidades/Superdotação (NAAH/S-AC);</p>
        <p> <b>q)</b>	Núcleo de Apoio à Inclusão (NAPI) Said de Almeida Filho;</p>
        <p> <b>r)</b>	Núcleo de Atividades de Altas Habilidades e Superdotação (NAAH/S/CZS/AC);</p>
        <p> <b>s)</b>	Centro de Apoio Pedagógico para Atendimento às Pessoas com Deficiência Visual (CAP/CZS/AC);</p>
        <p> <b>t)</b>	Centro de Apoio ao Surdo (CAS/CZS/AC).</p><br>
        <p> <b> IV -</b> Departamento de Educação do Campo:</p>
        <p> <b>a)</b>	Divisão de Gestão das Escolas do Campo e Apoio aos Municípios;</p>
        <p> <b>b)</b>	Núcleo Administrativo das Escolas do Campo;</p>
        <p> <b>c)</b>	Núcleo de Acompanhamento da Regional Purus /Envira/Tarauacá;</p>
        <p> <b>d)</b>	Núcleo de Acompanhamento da Regional Alto Acre;</p>
        <p> <b>e)</b>	Núcleo de Acompanhamento da Regional Baixo Acre;</p>
        <p> <b>f)</b>	Núcleo de Acompanhamento da Regional Juruá;</p>
        <p> <b>g)</b>	Divisão de Ensino do Campo;</p>
        <p> <b>h)</b>	Núcleo Pedagógico das Escolas seriadas, multisseriadas e Programas;</p>
        <p> <b>i)</b>	Divisão de Logística;</p>
        <p> <b>j)</b>	Núcleo de Transporte Rural;</p>
        <p> <b>k)</b>	Núcleo de Merenda e Livro Didático;</p>
        <p> <b>l)</b>	Núcleo de Manutenção das Escolas Rurais.</p><br>
        <p> <b> V -</b> Departamento de Educação Escolar Indígena:</p>
        <p> <b>a)</b>	Divisão de Gestão das Escolas Indígenas;</p>
        <p> <b>b)</b>	Núcleo de Gestão das Escolas Indígenas;</p>
        <p> <b>c)</b>	Divisão de Apoio aos Municípios;</p>
        <p> <b>d)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Assis Brasil;</p>
        <p> <b>e)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Cruzeiro do Sul;</p>
        <p> <b>f)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Feijó;</p>
        <p> <b>g)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Jordão;</p>
        <p> <b>h)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Mâncio Lima;</p>
        <p> <b>i)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Manoel Urbano;</p>
        <p> <b>j)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Marechal</p>
        <p> <b>k)</b>	Thaumaturgo;</p>
        <p> <b>l)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Porto Walter;</p>
        <p> <b>m)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Rodrigues Alves;</p>
        <p> <b>n)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Santa Rosa;</p>
        <p> <b>o)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Sena Madureira;</p>
        <p> <b>p)</b>	Núcleo de Acompanhamento às Escolas Indígenas-Tarauacá;</p>
        <p> <b>q)</b>	Divisão de Ensino e Pesquisa Indígena;</p>
        <p> <b>r)</b>	Núcleo de Produção e Acervo Indígena;</p>
        <p> <b>s)</b>	Núcleo Pedagógico.</p><br>
        <p> <b> VI -</b> Departamento de Mídias Digitais e TV Educacional:</p>
        <p> <b>a)</b>	Divisão de Produção e Gravação;</p>
        <p> <b>b)</b>	Núcleo de Áudio;</p>
        <p> <b>c)</b>	Núcleo de Vídeo;</p>
        <p> <b>d)</b>	Núcleo de Roteirização;</p>
        <p> <b>e)</b>	Núcleo de Paisagismo;</p>
        <p> <b>f)</b>	Divisão de Edição e Designer;</p>
        <p> <b>g)</b>	Núcleo de Criação;</p>
        <p> <b>h)</b>	Núcleo de Edição;</p>
        <p> <b>i)</b>	Núcleo de Revisão;</p>
        <p> <b>j)</b>	Divisão de Planejamento;</p>
        <p> <b>k)</b>	Núcleo de Alinhamento de Conteúdo;</p>
        <p> <b>l)</b>	Núcleo de Pesquisa de Plataformas e Sistemas;</p>
        <p> <b>m)</b>	Núcleo de Capitação de Recursos;</p>
        <p> <b>n)</b>	Divisão de Apoio;</p>
        <p> <b>o)</b>	Núcleo de Apoio Administrativo;</p>
        <p> <b>p)</b>	Núcleo de Logística;</p>
        <p> <b>q)</b>	Núcleo de Montagem e Manutenção.</p><br>
        <p> <b> VII -</b> Departamento de Inovações Educacionais:</p>
        <p> <b>a)</b>	Divisão de Tecnologias Educacionais;</p>
        <p> <b>b)</b>	Núcleo de Tecnologias Educacionais de Rio Branco;</p>
        <p> <b>c)</b>	Núcleo de Tecnologias Educacionais de Acrelândia;</p>
        <p> <b>d)</b>	Núcleo de Tecnologias Educacionais de Brasiléia;</p>
        <p> <b>e)</b>	Núcleo de Tecnologias Educacionais de Sena Madureira;</p>
        <p> <b>f)</b>	Núcleo de Tecnologias Educacionais de Cruzeiro do Sul;</p>
        <p> <b>g)</b>	Núcleo de Tecnologias Educacionais de Tarauacá;</p>
        <p> <b>h)</b>	Divisão de Práticas Inovadoras;</p>
        <p> <b>i)</b>	Centro de Matemática, Ciências e Filosofia – Cruzeiro do Sul;</p>
        <p> <b>j)</b>	Centro de Matemática, Ciências e Filosofia – Rio Branco;</p>
        <p> <b>k)</b>	Núcleo de Incentivo ao Conhecimento – Cruzeiro do Sul;</p>
        <p> <b>l)</b>	Núcleo de Incentivo ao Conhecimento – Rio Branco;</p>
        <p> <b>m)</b>	Divisão de Automação e Empreendedorismo;</p>
        <p> <b>n)</b>	Núcleo de Educação Empreendedora;</p>
        <p> <b>o)</b>	Núcleo de Robótica.</p><br>
        <p> § 2º  Departamento de Formação e Assistência Educacional:</p>
        <p> <b>a)</b>	Divisão de Assistência Estudantil e Saúde;</p>
        <p> <b>b)</b>	Núcleo de Saúde Escolar;</p>
        <p> <b>c)</b>	Núcleo de Apoio à Psicologia Educacional e Escolar;</p>
        <p> <b>d)</b>	Divisão de Ensino Superior;</p>
        <p> <b>e)</b>	Núcleo de Apoio aos Polos de Educação à Distância;</p>
        <p> <b>f)</b>	Polo de Apoio Presencial de Educação à Distância, do Sistema Universidade Aberta do Brasil, do Município de Rio Branco;</p>
        <p> <b>g)</b>	Polo de Apoio Presencial de Educação à Distância, do Sistema Universidade Aberta do Brasil, do Município de Sena Madureira;</p>
        <p> <b>h)</b>	Polo de Apoio Presencial de Educação à Distância, do Sistema Universidade Aberta do Brasil, do Município de Tarauacá;</p>
        <p> <b>i)</b>	Polo de Apoio Presencial de Educação à Distância, do Sistema Universidade Aberta do Brasil, do Município de Cruzeiro do Sul;</p>
        <p> <b>j)</b>	Polo de Apoio Presencial de Educação à Distância, do Sistema Universidade Aberta do Brasil, do Município de Acrelândia;</p>
        <p> <b>k)</b>	Polo de Apoio Presencial de Educação à Distância, do Sistema Universidade Aberta do Brasil, do Município de Xapuri;</p>
        <p> <b>l)</b>	Polo de Apoio Presencial de Educação à Distância, do Sistema Universidade Aberta do Brasil, do Município de Brasiléia;</p>
        <p> <b>m)</b>	Polo de Apoio Presencial de Educação à Distância, do Sistema Universidade Aberta do Brasil, do Município de Feijó;</p>
        <p> <b>n)</b>	Divisão de Formação e Aperfeiçoamento dos Servidores;</p>
        <p> <b>o)</b>	Centro de Formação dos Servidores em Educação.</p><br>

        <p> Art. 9º  A prerrogativa de adesão contemplará exclusivamente aos professores da Rede Estadual de Ensino, efetivos e temporários, que atendam as condições dispostas no art. 2º, da Lei nº 3.778/2021.</p>
    </div>

    <style>
        .titulo{
            text-align: center;
        }
        p{
            font-family: sans-serif;
            font-size: 16px;
            text-align: justify;
            padding-bottom: 6px;
        }
    </style>
</div>