/* Estilização da página de perfil de um contrato aditivo */

.container-surface-aditivo{
    margin-top: 24px;
}

.aditivo-dados{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.container-surface-aditivo-itens, .aditivo-itens{
    margin-top: 16px;
}

.aditivo-itens .texto-medio{
    margin-top: 16px;
}