{% load static %}

<div class="fundiaria-documentos oculto" data-nav-container="documentos">
    {% if documentos %}
        <div class="container-cards-simples">
            {% for documento in documentos %}
                <div class="card-simples card-documento">
                    <h4 class="card-simples__titulo texto-azul">{{ documento.categoria }}</h4>

                    <div class="card-simples__descricao" >
                        <p title="{{documento.descricao}}" class=" texto-azul texto-negritos">Descrição: <span class="texto-preto texto-normal">{{ documento.descricao }}</span></p>
                        <p title="{{documento.descricao}}" class=" texto-azul texto-negritos">Formato: <span class="texto-preto texto-normal">{{ documento.formato }}</span></p>
                    </div>

                    <a class="link" href="{% url 'core:index' %}{{documento.caminho}}" target="_blank">Abrir </a>

                </div>
            {% endfor %}
        </div>

    {% else %}
        <h2 class="texto-medio texto-preto">Sem documentos cadastrados</h2>
    {% endif %}

    <div class="container-botoes">

        {% if qtd_documentos > 3 %}
            <a class="link" href="{% url 'fundiaria:gerenciador-documentos' %}?id_fundiaria={{fundiaria.id}}">Ver todos os documentos</a>
        {% else %}
            <a href="{% url 'fundiaria:documento-formulario' %}?id_fundiaria={{ fundiaria.id }}">
                <button class="botao botao--azul">Adicionar</button>
            </a>
        {% endif %}
    </div>

</div>