{% extends 'partials/_base.html' %}

{% block title %} COEX {% endblock %}

{% load static %}

{% block css_layout %}

{% endblock %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}

    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a class="  texto-azul" href="{% url 'core:index' %}">Home</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">COEX</span>
            </nav>

            <h1 class="titulo-pagina texto-azul">COEX</h1>

            <div class="container-cards">

                {% if 22 in permissoes %}
                    <a href="{% url 'coex:comite' %}">
                        <div class="card-menu">
                            {% include 'partials/icones-cards/coex/comites.svg' %}

                            <h2 class="card-titulo">Comitês</h2>
                        </div>
                    </a>
                {% endif %}

                {% if 22 in permissoes %}
                    <a href="{% url 'coex:consorcio' %}">
                        <div class="card-menu">
                            {% include 'partials/icones-cards/coex/consorcios.svg' %}

                            <h2 class="card-titulo">Consórcios</h2>
                        </div>
                    </a>
                {% endif %}

            </div>
        </div>
    </main>

    {% include 'partials/_rodape.html' %}
{% endblock %}