{% extends 'partials/_base.html' %}

{% block title %} Autorização Lotação {% endblock %}

{% load static %}

{% block css_layout %}
    <link rel="stylesheet" href="{% static 'assets/css/layout/lotacao/autorizacao/index.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}

    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a href="{% url 'core:index' %}" class=" texto-azul">Home</a>
                <span class="texto-azul">&#62;</span>

                <a href="{% url 'lotacao:index' %}" class=" texto-azul">Gestão de Pessoas</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">Autorização Lotação</span>
            </nav>

            <h1 class="titulo-pagina texto-azul">Lotações</h1>

            <div class="container-surface container-lotacoes-busca">
                <h2 class="texto-medio texto-azul">Buscar lotação</h2>

                <form class="formulario" method="GET">

                    <div class="formulario-grupo">
                        <input type="text" name="cpf" class="campo-texto campo-pequeno" placeholder="CPF" data-mascara="cpf">
                    </div>

                    <div class="formulario-grupo">
                        <input type="text" name="matricula" class="campo-texto campo-pequeno" placeholder="Matrícula" data-mascara="numero">
                    </div>

                    <div class="formulario-grupo">
                        <input type="text" name="nome" class="campo-texto campo-grande" placeholder="Nome do servidor">
                    </div>

                    <div class="container-botoes">
                        <button type='submit' class="botao botao--azul">Buscar</button>
                        <button data-modal-abrir="filtros-autorizacao" class="botao botao--azul">Filtros</button>
                    </div>
                </form>
            </div>

            <table class="tabela tabela-lotacoes">
                <thead>
                    <tr>
                        <th>Servidor</th>
                        <th>Função</th>
                        <th>Unidade</th>
                        <th>Município</th>
                        <th>Técnico</th>
                        <th>Data</th>
                    </tr>
                </thead>

                <tbody>
                    {% for lotacao in lotacao_aux %}
                        {% if lotacao.unidade_adm__nome %}
                            <tr data-modal-abrir="lotacao-detalhe-{{ lotacao.id }}">
                                <td>{{ lotacao.contrato__servidor__nome }}</td>
                                <td>{{ lotacao.funcao }}</td>
                                <td>{{ lotacao.unidade_adm__nome}}</td>
                                <td>{{ lotacao.unidade_adm__endereco__municipio }}</td>
                                <td>{{ lotacao.assinatura__tecnico }}</td>
                                <td>{{ lotacao.data_memorando }}</td>
                            </tr>
                        {% elif lotacao.tipo_lotacao == 'Sem Lotação' %}
                            <tr data-modal-abrir="lotacao-detalhe-{{ lotacao.id }}">
                                <td>{{ lotacao.contrato__servidor__nome }}</td>
                                <td>{{ lotacao.contrato__cargo__nome }}</td>
                                {% if lotacao.orgao_cedido %}
                                    <td>{{ lotacao.orgao_cedido }}</td>
                                {% else %}
                                    <td>Não Informada</td>
                                {% endif %}
                                {% if lotacao.unidade_adm__endereco__municipio %}
                                    <td>{{ lotacao.unidade_adm__endereco__municipio }}</td>
                                {% else %}
                                    <td>Não Informada</td>
                                {% endif %}

                                <td>{{ lotacao.assinatura__tecnico }}</td>
                                <td>{{ lotacao.data_memorando }}</td>
                            </tr>
                        {% elif lotacao.tipo_lotacao == 'CONTRATO' or lotacao.tipo_lotacao == 'PERMUTA' %}
                            <tr data-modal-abrir="lotacao-detalhe-{{ lotacao.id }}">
                                <td>{{ lotacao.contrato__servidor__nome }}</td>
                                <td>{{ lotacao.funcao }}</td>
                                
                                {% if lotacao.orgao_cedido %}
                                    <td>{{ lotacao.orgao_cedido }}</td>
                                {% elif lotacao.unidade_escolar__escola__nome_escola %}
                                    <td>{{ lotacao.unidade_escolar__escola__nome_escola }}</td>
                                {% else %}
                                    <td>Não informado!</td>
                                {% endif %}
                                
                                {% if lotacao.unidade_adm__endereco__municipioo %}
                                    <td>{{ lotacao.unidade_adm__endereco__municipio }}</td>
                                {% elif lotacao.unidade_escolar %}
                                    <td>{{ lotacao.unidade_escolar__municipio }}</td>
                                {% else %}
                                    <td>Não Informada</td>
                                {% endif %}
                                
                                <td>{{ lotacao.assinatura__tecnico }}</td>
                                <td>{{ lotacao.data_memorando }}</td>
                            </tr>
                        {% else %}
                            <tr data-modal-abrir="lotacao-detalhe-{{ lotacao.id }}">
                                <td>{{ lotacao.contrato__servidor__nome }}</td>

                                {% if lotacao.funcao %}
                                    <td>{{ lotacao.funcao }}</td>
                                {% else %}
                                    <td>Não Informada</td>
                                {% endif %}

                                {% if lotacao.unidade_escolar__escola__nome_escola %}
                                    <td>{{ lotacao.unidade_escolar__escola__nome_escola }}</td>
                                {% else %}
                                    <td>Não Informada</td>
                                {% endif %}

                                {% if lotacao.unidade_escolar__municipio %}
                                    <td>{{ lotacao.unidade_escolar__municipio }}</td>
                                {% else %}
                                    {% if lotacao.unidade_adm__endereco__municipio %}
                                        <td>{{ lotacao.unidade_adm__endereco__municipio }}</td>
                                    {% else %}
                                        <td>Não informado</td>
                                    {% endif %}
                                {% endif %}

                                <td>{{ lotacao.assinatura__tecnico }}</td>
                                <td>{{ lotacao.data_memorando }}</td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td class="coluna-paginacao" colspan="6">
                            <div class="container-paginacao">
                                <div>
                                    <span class="texto-negrito texto-azul">TOTAL:</span>
                                    <span>{{ quantidade_lotacoes }}</span>
                                </div>

                                <div>
                                    {% if paginacao.has_previous %}
                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_primeira }}">
                                            <button class="botao-paginacao">first_page</button>
                                        </a>

                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_anterior }}">
                                            <button class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% else %}
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">first_page</button>
                                        </a>

                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% endif %}

                                    <span class="">
                                        {{ paginacao.number }} de {{ paginacao.paginator.num_pages }}
                                    </span>

                                    {% if paginacao.has_next %}
                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_proxima }}">
                                            <button class="botao-paginacao">navigate_next</button>
                                        </a>

                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_ultima }}">
                                            <button class="botao-paginacao">last_page</button>
                                        </a>

                                    {% else %}
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_next</button>
                                        </a>

                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">last_page</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <table class="tabela tabela-lotacoes--tablet">
                <thead>
                    <tr>
                        <th>Servidor</th>
                        <th>Unidade</th>
                        <th>Técnico</th>
                        <th>Data</th>
                    </tr>
                </thead>

                <tbody>
                    {% for lotacao in lotacao_aux %}
                        {% if lotacao.unidade_adm__nome %}
                            <tr data-modal-abrir="lotacao-detalhe-{{ lotacao.id }}">
                                <td>{{ lotacao.contrato__servidor__nome }}</td>
                                <td>{{ lotacao.unidade_adm__nome }}</td>
                                <td>{{ lotacao.assinatura__tecnico }}</td>
                                <td>{{ lotacao.data_memorando }}</td>
                            </tr>
                        {% else %}
                            <tr data-modal-abrir="lotacao-detalhe-{{ lotacao.id }}">
                                <td>{{ lotacao.contrato__servidor__nome }}</td>

                                {% if lotacao.unidade_escolar__escola__nome_escola %}
                                    <td>{{ lotacao.unidade_escolar__escola__nome_escola }}</td>
                                {% else %}
                                    <td>Não Informada</td>
                                {% endif %}

                                <td>{{ lotacao.assinatura__tecnico }}</td>
                                <td>{{ lotacao.data_memorando }}</td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td class="coluna-paginacao" colspan="4">
                            <div class="container-paginacao">
                                <div>
                                    <span class="texto-negrito texto-azul">TOTAL:</span>
                                    <span>{{ quantidade_lotacoes }}</span>
                                </div>

                                <div>
                                    {% if paginacao.has_previous %}
                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_primeira }}">
                                            <button class="botao-paginacao">first_page</button>
                                        </a>

                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_anterior }}">
                                            <button class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% else %}
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">first_page</button>
                                        </a>

                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% endif %}

                                    <span class="">
                                        {{ paginacao.number }} de {{ paginacao.paginator.num_pages }}
                                    </span>

                                    {% if paginacao.has_next %}
                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_proxima }}">
                                            <button class="botao-paginacao">navigate_next</button>
                                        </a>

                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_ultima }}">
                                            <button class="botao-paginacao">last_page</button>
                                        </a>

                                    {% else %}
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_next</button>
                                        </a>

                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">last_page</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <table class="tabela tabela-lotacoes--smartphone">
                <thead>
                    <tr>
                        <th>Servidor</th>
                        <th>Técnico</th>
                        <th>Data</th>
                    </tr>
                </thead>

                <tbody>
                    {% for lotacao in lotacao_aux %}
                        {% if lotacao.unidade_adm__nome %}
                            <tr data-modal-abrir="lotacao-detalhe-{{ lotacao.id }}">
                                <td>{{ lotacao.contrato__servidor__nome }}</td>
                                <td>{{ lotacao.assinatura__tecnico }}</td>
                                <td>{{ lotacao.data_memorando }}</td>
                            </tr>
                        {% else %}
                            <tr data-modal-abrir="lotacao-detalhe-{{ lotacao.id }}">
                                <td>{{ lotacao.contrato__servidor__nome }}</td>
                                <td>{{ lotacao.assinatura__tecnico }}</td>
                                <td>{{ lotacao.data_memorando }}</td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td class="coluna-paginacao" colspan="3">
                            <div class="container-paginacao">
                                <div>
                                    <span class="texto-negrito texto-azul">TOTAL:</span>
                                    <span>{{ quantidade_lotacoes }}</span>
                                </div>

                                <div>
                                    {% if paginacao.has_previous %}
                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_primeira }}">
                                            <button class="botao-paginacao">first_page</button>
                                        </a>

                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_anterior }}">
                                            <button class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% else %}
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">first_page</button>
                                        </a>

                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% endif %}

                                    <span class="">
                                        {{ paginacao.number }} de {{ paginacao.paginator.num_pages }}
                                    </span>

                                    {% if paginacao.has_next %}
                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_proxima }}">
                                            <button class="botao-paginacao">navigate_next</button>
                                        </a>

                                        <a class="" href="{% url 'lotacao:autorizacao-lotacao' %}?{{ gets_ultima }}">
                                            <button class="botao-paginacao">last_page</button>
                                        </a>

                                    {% else %}
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_next</button>
                                        </a>

                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">last_page</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </main>

    {% include 'partials/_rodape.html' %}

    {% include 'lotacao/autorizacao/partials/_modais-lotacoes-detalhes.html' %}

    {% include 'lotacao/autorizacao/partials/_modal-autorizacao-filtros.html' %}

    <!-- <script src="{% static 'assets/js/module/linkTabela.js' %}"></script> -->
    <script src="{% static 'assets/js/module/mascaras.js' %}" type='module'></script>
    <script src="{% static 'assets/js/module/abrirModal.js' %}"></script>

    <script src="{% static 'assets/js/layout/lotacao/autorizacao-lotacao/controlaCampos.js' %}"></script>
{% endblock %}