{% extends 'partials/_base.html' %}

{% block title %} Lotações {% endblock %}

{% load static %}

{% block select %}
    {% include 'partials/_select2.html' %}
{% endblock %}

{% block css_layout %}
    <link rel="stylesheet" href="{% static 'assets/css/layout/lotacao/registro/registro-lotacoes.css' %}">
{% endblock %}

{% block content %}
{% include 'partials/_cabecalho.html' %}

<main>
    <div class="container">
        <nav class="container-navegacao">
            <a href="{% url 'core:index' %}" class=" texto-azul">Home</a>
            <span class="texto-azul">&#62;</span>

            <a href="{% url 'terceirizacao:index' %}" class=" texto-azul">Terceirização</a>
            <span class="texto-azul">&#62;</span>

            <span class="  texto-azul">Registro de lotações</span>
        </nav>

        <h1 class="titulo-pagina texto-azul">Registro de lotações</h1>

        <div class="container-surface container-lotacoes-busca">
            <h2 class="texto-medio texto-azul">Buscar Registro</h2>

            <form class="formulario" method="GET">

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo" for="campo-tencico">Técnico</label>
                    <select data-selecao2  name="tecnico" id="campo-tencico" class="campo-texto campo-grande">
                        <option></option>
                        {% for item in registro_filtro %}
                            <option value="{{ item.log__usuario__id }}">{{ item.log__usuario__nome }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="formulario-grupo">
                    <label class="texto-azul label-campo">Município</label>

                    <select data-selecao2 name="municipio" class="campo-texto campo-medio">
                        <option></option>
                        {% for municipio in municipios %}
                            <option value="{{ municipio}}">{{ municipio}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- <div class="grupo-datas">
                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-data">De</label>
                        <input class="campo-texto campo-pequeno" type="date" name="data" id="campo-data">
                    </div>
                    <div class="formulario-grupo">
                        <label class="texto-azul label-campo" for="campo-data-fim">Até</label>
                        <input class="campo-texto campo-pequeno" type="date" name="data-final" id="campo-data-fim">
                    </div>
                </div> -->

                <div class="container-botoes">
                    <button type='submit' class="botao botao--azul">Buscar</button>
                </div>
            </form>
        </div>

        <table class="tabela tabela-lotacoes">
            <thead>
                <tr>
                    <th>Nº Contrato</th>
                    <th>Servidor</th>
                    <th>Unidade</th>
                    <th>Município</th>
                    <th>Técnico</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for dado in dados %}
                    <tr>
                        <td>{{ dado.0 }}</td>
                        <td>{{ dado.1 }}</td>
                        {% if dado.2 != None %}
                            <td>{{ dado.2 }}</td>
                        {% else %}
                            <td>Não informado</td>
                        {% endif %}
                        {% if dado.3 != None %}
                            <td>{{ dado.3 }}</td>
                        {% else %}
                            <td>Não informado</td>
                        {% endif %}
                        <td>{{ dado.4 }}</td>
                        <td>{{ dado.5 }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td class="coluna-paginacao" colspan="6">
                        <div class="container-paginacao">
                            <div>
                                <span class="texto-negrito texto-azul">TOTAL:</span>
                                <span>{{ qtd_lotacao }}</span>
                            </div>

                            <div>
                                {% if historico.has_previous %}
                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_primeira }}">
                                        <button class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_anterior }}">
                                        <button class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% endif %}

                                <span class="">
                                    {{ historico.number }} de {{ historico.paginator.num_pages }}
                                </span>

                                {% if historico.has_next %}
                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_proxima }}">
                                        <button class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_ultima }}">
                                        <button class="botao-paginacao">last_page</button>
                                    </a>

                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">last_page</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>

        <table class="tabela tabela-lotacoes--tablet">
            <thead>
                <tr>
                    <th>Nº Contrato</th>
                    <th>Servidor</th>
                    <th>Técnico</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for dado in dados %}
                    <tr>
                        <td>{{ dado.0 }}</td>
                        <td>{{ dado.1 }}</td>
                        <td>{{ dado.3 }}</td>
                        <td>{{ dado.4 }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td class="coluna-paginacao" colspan="6">
                        <div class="container-paginacao">
                            <div>
                                <span class="texto-negrito texto-azul">TOTAL:</span>
                                <span>{{ qtd_lotacao }}</span>
                            </div>

                            <div>
                                {% if historico.has_previous %}
                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_primeira }}">
                                        <button class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_anterior }}">
                                        <button class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% endif %}

                                <span class="">
                                    {{ historico.number }} de {{ historico.paginator.num_pages }}
                                </span>

                                {% if historico.has_next %}
                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_proxima }}">
                                        <button class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_ultima }}">
                                        <button class="botao-paginacao">last_page</button>
                                    </a>

                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">last_page</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>

        <table class="tabela tabela-lotacoes--smartphone">
            <thead>
                <tr>
                    <th>Nº Contrato</th>
                    <th>Técnico</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for dado in dados %}
                    <tr>
                        <td>{{ dado.0 }}</td>
                        <td>{{ dado.3 }}</td>
                        <td>{{ dado.4 }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td class="coluna-paginacao" colspan="6">
                        <div class="container-paginacao">
                            <div>
                                <span class="texto-negrito texto-azul">TOTAL:</span>
                                <span>{{ qtd_lotacao }}</span>
                            </div>

                            <div>
                                {% if historico.has_previous %}
                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_primeira }}">
                                        <button class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_anterior }}">
                                        <button class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">first_page</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_before</button>
                                    </a>
                                {% endif %}

                                <span class="">
                                    {{ historico.number }} de {{ historico.paginator.num_pages }}
                                </span>

                                {% if historico.has_next %}
                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_proxima }}">
                                        <button class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="{% url 'terceirizacao:registro' %}?{{ gets_ultima }}">
                                        <button class="botao-paginacao">last_page</button>
                                    </a>

                                {% else %}
                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">navigate_next</button>
                                    </a>

                                    <a class="" href="#">
                                        <button disabled class="botao-paginacao">last_page</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>


    </div>
</main>

{% include 'partials/_rodape.html' %}

<script src="{% static 'assets/js/module/abrirModal.js' %}"></script>
<script src="{% static 'assets/js/module/select2.js' %}"></script>

{% endblock %}