{% extends 'partials/_base.html' %}

{% block title %} {{ turma.nome }} {% endblock %}

{% load static %}

{% block css_layout %}
    <link rel="stylesheet"  href="{% static 'assets/css/layout/administracao/unidades/turma/turma-perfil.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/layout/administracao/unidades/responsivo/turma-perfil-responsivo.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}

    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a  class="  texto-azul" href="{% url 'core:index' %}">Home</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:index' %}">Administração</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:unidades_educacionais' %}">Unidades</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:unidade-perfil' %}?inep={{ escola.cod_inep }}">{{ escola.nome_escola }}</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">{{ turma.nome }}</span>
            </nav>

            <div class="container-surface-turma container-surface">
                <h1 class="texto-medio  texto-azul">{{ turma.nome }}</h1>
                <p class="descricao texto-preto">{{ turma.escola.nome_escola }}</p>

                <div class="container-turma-dados">
                    <p class=" texto-azul texto-negrito ">Turno: <span class="texto-preto texto-normal">{{ turma.turno }}</span></p>
                    <p class=" texto-azul texto-negrito texto">Etapa: <span class="texto-preto texto-normal">{{ turma.etapa.nome }}</span></p>
                    <p class=" texto-azul texto-negrito texto">Total de alunos: <span class="texto-preto texto-normal">{{ qtd_alunos }}</span></p>
                </div>

            </div>

            <h2 class="titulo-pagina texto-azul">Alunos</h2>

            <div class="container-botoes">
                <a href="{% url 'administracao:aluno-formulario' %}?id={{ turma.id }}"><button class="botao botao--azul">Adicionar</button></a>
            </div>

            <table class="tabela tabela-aluno">
                <thead>
                    <tr>
                        <th>nome</th>
                        <th>data de nascimento</th>
                        <th>sexo</th>
                    </tr>
                </thead>

                <tbody data-tabela-link="/administracao/aluno_perfil?id_turma={{ turma.id }}&id=">
                    {% for aluno in alunos %}
                        <tr data-tabela-link-chave="{{ aluno.aluno.id }}">
                            <td>{{ aluno.aluno.nome }}</td>
                            <td>{{ aluno.aluno.nascimento }}</td>
                            <td>{{ aluno.aluno.sexo }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td class="coluna-paginacao" colspan="4">
                            <div class="container-paginacao">
                                <div>
                                    <span class="texto-negrito texto-azul">TOTAL:</span>
                                    <span>{{ qtd_alunos }}</span>
                                </div>

                                <div>
                                    {% if alunos.has_previous %}
                                        <a class="" href="{% url 'administracao:turma-perfil' %}?id={{ turma.id }}&{{ gets_primeira }}">
                                            <button class="botao-paginacao">first_page</button>
                                        </a>
                                        <a class="" href="{% url 'administracao:turma-perfil' %}?id={{ turma.id }}&{{ gets_anterior }}">
                                            <button class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% else %}
                                        <a class="" href="">
                                            <button disabled class="botao-paginacao">first_page</button>
                                        </a>
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% endif %}

                                    <span class="">
                                        {{ alunos.number }} de {{ alunos.paginator.num_pages }}

                                    {% if alunos.has_next %}
                                        <a class="" href="{% url 'administracao:turma-perfil' %}?id={{ turma.id }}&{{ gets_proxima }}">
                                            <button class="botao-paginacao">navigate_next</button>
                                        </a>
                                        <a class="" href="{% url 'administracao:turma-perfil' %}?id={{ turma.id }}&{{ gets_ultima }}">
                                            <button class="botao-paginacao">last_page</button>
                                        </a>
                                    {% else %}
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_next</button>
                                        </a>
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">last_page</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <table class="tabela tabela-aluno tabela-aluno-smartphone">
                <thead>
                    <tr>
                        <th>nome</th>
                        <th>sexo</th>
                    </tr>
                </thead>

                <tbody>
                    {% for aluno in alunos %}
                        <tr data-tabela-aluno>
                            <td class="oculto">{{ aluno.aluno.id }}</td>
                            <td>{{ aluno.aluno.nome }}</td>
                            <td>{{ aluno.aluno.sexo }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td class="coluna-paginacao" colspan="3">
                            <div class="container-paginacao">
                                <div>
                                    <span class="texto-negrito texto-azul">TOTAL:</span>
                                    <span>{{ qtd_alunos }}</span>
                                </div>

                                <div>
                                    {% if alunos.has_previous %}
                                        <a class="" href="{% url 'administracao:turma-perfil' %}?id={{ turma.id }}&{{ gets_primeira }}">
                                            <button class="botao-paginacao">first_page</button>
                                        </a>

                                        <a class="" href="{% url 'administracao:turma-perfil' %}?id={{ turma.id }}&{{ gets_anterior }}">
                                            <button class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% else %}
                                        <a class="" href="">
                                            <button disabled class="botao-paginacao">first_page</button>
                                        </a>
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_before</button>
                                        </a>
                                    {% endif %}
                                    <span class="">
                                        {{ alunos.number }} de {{ alunos.paginator.num_pages }}
                                    </span>
                                    {% if alunos.has_next %}
                                        <a class="" href="{% url 'administracao:turma-perfil' %}?id={{ turma.id }}&{{ gets_proxima }}">
                                            <button class="botao-paginacao">navigate_next</button>
                                        </a>
                                        <a class="" href="{% url 'administracao:turma-perfil' %}?id={{ turma.id }}&{{ gets_ultima }}">
                                            <button class="botao-paginacao">last_page</button>
                                        </a>
                                    {% else %}
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">navigate_next</button>
                                        </a>
                                        <a class="" href="#">
                                            <button disabled class="botao-paginacao">last_page</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

                <h2 class="texto-medio texto-azul">Grade</h2>
                <div class="container-cards-simples container-cards-professores">
                    {% if not possui_grades %}
                        <span class="texto-preto texto-medio">Essa turma ainda não possui disciplinas cadastradas.</span>
                    {% else %}
                        <table class="tabela tabela-servidores">
                            <thead>
                                <th>Professor(a)</th>
                                <th>Disciplina / Rota</th>
                                <th>Carga Horária</th>
                            </thead>
                            {% for grade in grades %}
                                {% if grade.0.disciplina or grade.0.rota %}
                                    <tbody>
                                        <tr>
                                            <td>{{ grade.1 }}</td>
                                            {% if grade.0.disciplina %}
                                                <td>{{ grade.0.disciplina.nome }}</td>
                                            {% else %}
                                                <td>{{ grade.0.rota }}</td>
                                            {% endif %}
                                            <td>{{ grade.0.carga_horaria }}h</td>
                                        </tr>
                                    </tbody>
                                {% endif %}
                            {% endfor %}
                        </table>
                        <table class="tabela tabela-servidores--smartphone">
                            <thead>
                                <th>Professor(a)</th>
                                <th>Disciplina / Rota</th>
                            </thead>
                            {% for grade in grades %}
                                {% if grade.0.disciplina or grade.0.rota %}
                                    <tbody>
                                        <tr>
                                            <td>{{ grade.1 }}</td>
                                            {% if grade.0.disciplina %}
                                                <td>{{ grade.0.disciplina.nome }}</td>
                                            {% else %}
                                                <td>{{ grade.0.rota }}</td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>

            {% if mediadores %}
                <div class="container-surface">
                    <h2 class="texto-medio texto-azul">Mediadores</h2>

                    <table class="tabela">
                        <thead>
                            <tr>
                                <th>Professor</th>
                                <th>Aluno</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for mediador in mediadores %}
                                <tr>
                                    <td>{{ mediador.professor }}</td>
                                    <td>{{ mediador.aluno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </main>

    {% include 'partials/_rodape.html' %}

    <script src="{% static 'assets/js/module/linkTabela.js' %}"></script>
{% endblock %}