<div data-dashboard-container="professores" class="oculto">
    <div class="container-surface container-grafico">
        <h2 class="texto-medio texto-azul">Professores por sexo</h2>

        <table data-grafico="donut">
            <thead>
                <tr>
                    <th>Masculino</th>
                    <th>Feminino</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>50</td>
                    <td>25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>