/* Estiização da página de cadastro de uma unidade educacional */

.formulario-unidade-dados, .formulario-unidade-endereco, .formulario-unidade-contatos, .formulario-unidade-indigena{
    animation: var(--main-animation);
}

/* .formulario-unidade-endereco, .formulario-unidade-contatos{
    display: none;
} */

.container-botoes{
        margin-top: 1rem;
    }
