{% extends 'partials/_base.html' %}

{% block title %} {{ aluno.nome }} {% endblock %}

{% load static %}

{% block css_layout %}
    <link rel="stylesheet"  href="{% static 'assets/css/layout/administracao/alunos/aluno-perfil.css' %}">
{% endblock %}

{% block content %}
    {% include 'partials/_cabecalho.html' %}

    <main>
        <div class="container">
            <nav class="container-navegacao">
                <a href="{% url 'core:index' %}" class="texto-azul">Home</a>
                <span class="texto-azul">&#62;</span>

                <a href="{% url 'administracao:index'%}" class="texto-azul">Administração</a>
                <span class="texto-azul">&#62;</span>

                <a class="  texto-azul" href="{% url 'administracao:alunos' %}">Alunos</a>
                <span class="texto-azul">&#62;</span>

                <span class="  texto-azul">{{ aluno.nome }}</span>
            </nav>

            <div class="container-surface">
                <div class="container-aluno__titulo">
                    {% include 'administracao/alunos/partials/icones/servidor.svg' %}
                    <h1 class="texto-medio texto-azul">{{ aluno.nome }}</h1>
                </div>

                <div class="container-detalhes">
                    <p class=" texto-azul texto-negrito">Data de Nascimento: <span class="texto-preto texto-normal">{{ aluno.nascimento }}</span></p>
                    <p class=" texto-azul texto-negrito">CPF: <span class="texto-preto texto-normal">{{ aluno.cpf }}</span></p>
                    <p class=" texto-azul texto-negrito">RG: <span class="texto-preto texto-normal">{{ aluno.rg }}</span></p>
                    <p class=" texto-azul texto-negrito">INEP: <span class="texto-preto texto-normal">{{ aluno.cod_inep }}</span></p>
                    <p class=" texto-azul texto-negrito">Registro Acadêmico: <span class="texto-preto texto-normal">{{ aluno.ra }}</span></p>
                    <p class=" texto-azul texto-negrito">Gênero: <span class="texto-preto texto-normal">{{ aluno.sexo }}</span></p>
                    <p class=" texto-azul texto-negrito">Nacionalidade: <span class="texto-preto texto-normal">{{ aluno.nacionalidade }}</span></p>
                    <p class=" texto-azul texto-negrito">Naturalidade: <span class="texto-preto texto-normal">{{ aluno.naturalidade }} - {{ aluno.uf }}</span></p>
                </div>

            </div>

            <div class="container-surface">
                <div class="container-aluno__titulo">
                    {% include 'administracao/alunos/partials/icones/servidor.svg' %}
                    <h2 class="texto-medio texto-azul">Responsáveis</h2>
                </div>

                <div class="container-detalhes">
                    <p class=" texto-azul texto-negrito">Nome do Pai: <span class="texto-preto texto-normal">{{ aluno.nome_pai }}</span></p>
                    <p class=" texto-azul texto-negrito">Nome da Mãe: <span class="texto-preto texto-normal">{{ aluno.nome_mae }}</span></p>
                </div>
            </div>

            <div class="container-surface">
                <div class="container-aluno__titulo">
                    {% include 'administracao/alunos/partials/icones/endereco.svg' %}
                    <h2 class="texto-medio texto-azul">Endereço</h2>
                </div>

                <div class="container-detalhes">
                    {% if aluno.endereco %}
                        <!-- <p class=" texto-azul texto-negrito texto">Estado: <span class="texto-preto texto-normal">{{ endereco.4 }}</span></p>
                        <p class=" texto-azul texto-negrito texto">Município: <span class="texto-preto texto-normal">{{ endereco.3 }}</span></p>
                        <p class=" texto-azul texto-negrito texto">CEP: <span class="texto-preto texto-normal">{{ endereco.5 }}</span></p>
                        <p class=" texto-azul texto-negrito texto">Rua: <span class="texto-preto texto-normal">{{ endereco.0 }}</span></p>
                        <p class=" texto-azul texto-negrito texto">Numero: <span class="texto-preto texto-normal">{{ endereco.1 }}</span></p>
                        <p class=" texto-azul texto-negrito texto">Bairro: <span class="texto-preto texto-normal">{{ sendereco.2 }}</span></p> -->
                        <p class="texto-preto">{{ aluno.endereco }}</p>
                    {% else %}
                        <p class="texto-preto">Aluno não possui endereço cadastrado.</p>
                    {% endif %}
                </div>
            </div>

            <div class="container-surface">
                <div class="container-aluno__titulo">
                    {% include 'administracao/alunos/partials/icones/contatos.svg' %}
                    <h2 class="texto-medio texto-azul">Contatos</h2>
                </div>

                <div class="container-detalhes">
                    <p class=" texto-azul texto-negrito texto">Contato do responsável: <span class="texto-preto texto-normal">{{ aluno.responsavel_telefone }}</span></p>
                    <p class=" texto-azul texto-negrito texto">Celular: <span class="texto-preto texto-normal">{{ aluno.celular }}</span></p>
                    <p class=" texto-azul texto-negrito texto">Telefone <span class="texto-preto texto-normal">{{ aluno.telefone }}</span></p>
                    <p class=" texto-azul texto-negrito texto">Email: <span class="texto-preto texto-normal">{{ aluno.email }}</span></p>
                </div>
            </div>

            <div class="container-surface">
                <nav class="container-navegacao-surface">
                    <ul class="navegacao-surface-lista">
                        <li class="navegacao-surface-item navegacao-surface-item-ativo navegacao-surface-item-selecionavel" data-nav-aba="enturmacaoes">Enturmações</li>
                    </ul>
                </nav>

                {% include 'administracao/alunos/partials/_aluno-enturmacoes.html' %}
            </div>
        </div>
    </main>

    {% include 'partials/_rodape.html' %}

    <script src="{% static 'assets/js/module/controlaNavegacaoSurface.js' %}"></script>
    <script src="{% static 'assets/js/module/abrirModal.js' %}"></script>
{% endblock %}